body.account {

  /* ====================== BLANKSTATE ========================= */

  .full-width {
    padding: 0;
  }

  .blankstate {
    margin-top: 70px;
    position: relative;
    text-align: center;
    padding: 40px 20px;

    h1 {
      color: #FFF;
      margin: 0px 0px 10px 0px;
      text-transform: uppercase;
    }
    
    button.close {
      position: absolute;
      right: 20px;
      top: 10px;
      color: #fff;
      text-shadow: none;
    }
      
    h1, p {
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
    }

    p {
      font-size: 22px;
      margin: 0px 0px 40px 0px;
      color: #fff;
      
      font-weight: 400;
      font-style: normal;
      line-height: 28px;
    }
    
    ul.list-inline li {
      display: inline;
      margin: 0px 10px;
      line-height: 28px;
    }
    
    ul li a {
      border-radius: 3px;
      opacity: 0.7;
      display: inline-block;
      color: #FFF;
      text-decoration: none;
      border: 2px solid #FFF;
      font-size: 18px;
      width: 150px;
      padding: 0px;
      line-height: 70px;
    }
  }

  .blankstate-plain {
    background: #242424 url(/assets/backgrounds/cartographer.png) top left repeat;
    background-color: #242424;
  }

  .blankstate-secondary {
    background: #242424 url(/assets/backgrounds/cartographer.png) top left repeat;
    background: -webkit-linear-gradient(180deg, rgba(63, 97, 105, 0) 0%, rgba(63, 97, 105, 0.1) 50%, rgba(63, 97, 105, 0.6) 100%), url(/assets/backgrounds/cartographer.png) top left repeat;
    background: linear-gradient(180deg, rgba(63, 97, 105, 0) 0%, rgba(63, 97, 105, 0.1) 50%, rgba(63, 97, 105, 0.6) 100%), url(/assets/backgrounds/cartographer.png) top left repeat;
    background-color: #242424;
  }

  .animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animated.fade-in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

  /* ====================== SELECT2 OVERRIDES ========================= */

  .select2-drop {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-color: #66afe9 !important;
    -webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
            box-shadow: inset 0 1px 0px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
  }

  ul.select2-results {
    color: #555 !important;
  }

  .select2-container-active {
    border-color: #66afe9 !important;
    -webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
            box-shadow: inset 0 1px 0px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
  }
  
  ul.select2-choices {
    background-image: none;
    border-color: #66afe9 !important;


    li.select2-search-choice {
      margin-top: 4px !important;
      margin-bottom: 4px !important;
      
      a.select2-search-choice-close {
        top: 3px;
      }
    }
    
    li.select2-search-field {
      height: 28px;
    }

    .select2-drop-mask {
      display: none;
    }

  }

  .select2-default {
    margin-top: 0 !important;
    padding-left: 10px !important;
  }
  
  /* ====================== PANELS ========================= */

  .upload-grid {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 300px;

    input, select, .select2-drop, .select2-result-label {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }
    
    .panel {
      .progress {
        border-radius: 2px 2px 0 0;
        height: 4px;
        margin-bottom: 0;
      }
      
      .btn i {
        color: #fff;
        margin-right: 3px;
      }

      .chosen-container-single .chosen-single {
        height: 33px;
        padding-top: 4px;
        
        b {
          margin-top: 4px;
        }
      }
      
      .cog {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
      }
      .cog:hover,
      .cog:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
      }
      
      button.cog {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
      }
      
      .panel-heading {
        h3 {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 18px;
          line-height: 1.3em;
          font-weight: bold;
          padding: 0;
          margin: 0 0 10px 0;
          border-bottom: 0;
        }
        
        .icon-public, .icon-private {
          font-size: 14px;
          margin-right: 5px;
        } 
        
        .icon-public {
          color: #777;
        }
        
        .icon-private {
          color: #a1882b;
        }
        
      }
      
      &.upload-panel {
        border: 3px dashed #ccc;
        box-shadow: 0 0px;
        background-color: transparent;

        .panel-heading {
          background-color: transparent;
          border-bottom-color: transparent;
        }

        h3 {
          text-align: center;
          font-weight: bold;
          border-bottom-color: transparent;
        }
      }
      
      &.upload-panel:hover {
        background-color: #fff;
        border-color: #d2d2d2;
        box-shadow: 0 1px 0 #cfcfcf;
        border: 1px solid #d2d2d2;
        margin: 2px;
        
        h3 {
          border-bottom-color: #fff; /* #efefef */
        }
      }
      
      .panel-body {
        
      }
      
      .panel-footer {
        .form-group {
          margin-bottom: 0;
        }
      }
      
      ul.tag-list {
        min-height: 26px;
        margin: 0;
        padding: 0 5px 0 0;
        overflow: hidden;
        
        li.tag-list-tag {
          float: left;
          list-style: none;
          font-size: 12px;
          white-space: nowrap;
          padding: 3px 5px;
          margin: 3px 5px 3px 0;
                    
          position: relative;
          line-height: 13px;
          color: #333;
          cursor: default;
          border: 1px solid #aaaaaa;
          border-radius: 3px;
          -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
          background-clip: padding-box;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-color: #e4e4e4;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
          background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
          background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
          background-image: linear-gradient(to top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);          
        }
      }
    } /* panel */
    
    
  }

} 

