@import 'application-custom';

body.account {

  /* ====================== BLANKSTATE ========================= */

  #dashboard-container {
    margin-top: 70px;
    padding: 0;
  }

  .blankstate {
    position: relative;
    text-align: center;
    padding: 20px 20px;

    h1 {
      color: #FFF;
      margin: 0px 0px 10px 0px;
      text-transform: uppercase;
    }

    button.close {
      position: absolute;
      right: 20px;
      top: 10px;
      color: #fff;
      text-shadow: none;
    }

    h1, p {
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
    }

    p {
      font-size: 22px;
      margin: 0px 0px 40px 0px;
      color: #fff;

      font-weight: 400;
      font-style: normal;
      line-height: 28px;
    }

    ul.list-inline li {
      display: inline;
      margin: 0px 10px;
      line-height: 28px;
    }

    ul li a {
      border-radius: 3px;
      opacity: 0.7;
      display: inline-block;
      color: #FFF;
      text-decoration: none;
      border: 2px solid #FFF;
      font-size: 18px;
      width: 150px;
      padding: 0px;
      line-height: 70px;
      font-weight: bold;
    }
  }

  .blankstate-plain {
    background: #242424 url(/assets/backgrounds/cartographer.png) top left repeat;
    background-color: #242424;
  }

  .blankstate-secondary {
    background: #242424 url(/assets/backgrounds/cartographer.png) top left repeat;
    background: -webkit-linear-gradient(180deg, rgba(63, 97, 105, 0) 0%, rgba(63, 97, 105, 0.1) 50%, rgba(63, 97, 105, 0.6) 100%), url(/assets/backgrounds/cartographer.png) top left repeat;
    background: linear-gradient(180deg, rgba(63, 97, 105, 0) 0%, rgba(63, 97, 105, 0.1) 50%, rgba(63, 97, 105, 0.6) 100%), url(/assets/backgrounds/cartographer.png) top left repeat;
    background-color: #242424;
  }

  /* ====================== SELECT2 OVERRIDES ========================= */

  .select2-drop {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    border-color: #66afe9 !important;
    -webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
            box-shadow: inset 0 1px 0px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
  }

  ul.select2-results {
    color: #555 !important;
  }

  .select2-container-active {
    border-color: #66afe9 !important;
    -webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
            box-shadow: inset 0 1px 0px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
  }

  ul.select2-choices {
    background-image: none;
    border-color: #66afe9 !important;


    li.select2-search-choice {
      margin-top: 4px !important;
      margin-bottom: 4px !important;

      a.select2-search-choice-close {
        top: 3px;
      }
    }

    li.select2-search-field {
      height: 28px;
    }

    .select2-drop-mask {
      display: none;
    }

  }

  .select2-default {
    margin-top: 0 !important;
    padding-left: 10px !important;
  }

  /* ====================== TILES & PANELS ========================= */

  &.hover #hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.5);
    z-index: 100;
    @include transition(background-color .2s ease);
  }

  .upload-grid {
    // font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    min-height: 300px;
    padding: 25px 0;

    input, select, .select2-drop, .select2-result-label {
      xfont-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }

    .upload-tile {
      z-index: 101;
    }

    .tile {
      perspective: 1000px;

      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        position: relative;
      }

      &.flip {
        .flipper {
          transform: rotateY(180deg);
          -webkit-transform: rotateY(180deg);
        }
      }
    }

    .panel {
      @include transition(box-shadow .2s ease);

      backface-visibility: hidden;

      border-radius: 3px !important;

      &.show-panel {
        xposition: absolute;
        xtop: 0;
        xleft: 0;

        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
      }

      &.edit-panel {
        xposition: absolute;
        xtop: 0;
        xleft: 0;

        transform: rotateY(0deg); /* -> 180deg */
      }

      &:hover {
        box-shadow: 0px 0px 15px #777;
      };

      .progress {
        border-radius: 2px 2px 0 0;
        height: 4px;
        margin-bottom: 0;
      }

      .btn i {
        color: #fff;
        margin-right: 3px;
      }

      .chosen-container-single .chosen-single {
        height: 33px;
        padding-top: 4px;

        b {
          margin-top: 4px;
        }
      }

      span.label {
        font-weight: normal;
        padding: 3px 7px;
      }

      .cog {
        float: right;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
      }
      .cog:hover,
      .cog:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
      }

      button.cog {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
      }

      .panel-heading {
        h3 {
          font-family: inherit;
          font-size: 18px;
          line-height: 1.3em;
          font-weight: bold;
          padding: 0;
          margin: 0 0 10px 0;
          border-bottom: 0;
        }

        .icon-privacy {
          font-size: 14px;
          margin-right: 5px;
        }

        .icon-public {
          color: #777;
        }

        .icon-private {
          color: #a1882b;
        }

        .slug {
          i {
            font-size: 10px;
            color: #555;

            a {
              font-size: 12px;
              padding-left: 3px;
            }
          }
        }
      }

      &.show-panel {
        xborder: 3px dashed #999;
      }

      &.upload-panel {
        border: 3px dashed #ccc;
        box-shadow: none;
        background-color: transparent;
        margin: 2px;
        @include transition(background-color box-shadow .2s ease);

        select, input {
          background-color: transparent;
        }

        &.hover {
          background-color: #fff;
          border-color: #d2d2d2;
          xbox-shadow: 0 1px 0 #cfcfcf;
          box-shadow: 0px 0px 15px #777;
          border: 1px solid #d2d2d2;
          margin: 4px;

          h3 {
            border-bottom-color: #fff; /* #efefef */
          }

          .panel-footer {
            background-color: #f5f5f5;
          }
        }

        .panel-heading {
          background-color: transparent;
          border-bottom-color: transparent;
        }

        .panel-footer {
          background-color: transparent;
        }

        h3 {
          text-align: center;
          font-weight: bold;
          border-bottom-color: transparent;
        }

        .upload-panel-separator {
          font-size: 16px;
          color: #999;
          display: block;
          margin: 0 auto 25px auto;
          text-align: center;
        }

        .form-group-file-upload {
          margin: 35px 0 40px 0;

          #files {
            position: absolute;
            top: -1000px;
          }

          .btn-file-upload {
            outline: 0;
            display: block;
            margin: 15px auto 15px auto;
            width: 150px;
            border-radius: 300px;
          }

          .email-file-upload-holder {
            display: block;
            text-align: center;
          }
        }

      } /* upload-panel */

      .panel-background {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 0px 0px 3px 3px;

        .description-holder {
          @include transition(all .5s ease-in-out);

          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          xz-index: 2;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
          padding: 15px;

          p {
            position: relative;
            top: 50%;
            vertical-align: middle;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);

            margin: 0;
            font-family: $font-family;
            font-size: 24px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #fff;
            text-shadow: 1px 1px 1px rgba(black, 0.3);
            text-align: center;
          }
        }

        .action-panel {
          overflow: hidden;
          background: transparent;

          .action-panel-bg-holder {
            z-index: 1;
            display: block;
            margin: 0 -25px 0 -25px;
            overflow: hidden;
            xbackground-size: cover;

            img {
              margin: -5px;
              min-width: 100%;
              min-height: 225px;
              width: auto;
              height: 240px;
              position: 0;
            }
          }

          .action-panel-btn-group {
            position: relative;
            top: -220px;
            margin: 20px 0 -200px 0;
            z-index: 2;
            visibility: hidden;
          }

          .btn-panel-action {
            display: block;
            margin: 0 auto 10px auto;
            border-radius: 300px;
            min-width: 200px;
            outline: none;
          }

        } /* action-panel */

        &.hover {
          .description-holder {
            p {
              color: transparent;
              text-shadow: none;
            }
          }

          .action-panel {
            .action-panel-bg-holder {
              img {
                -webkit-filter: blur(2px);
                -moz-filter: blur(2px);
                -o-filter: blur(2px);
                -ms-filter: blur(2px);
                filter: blur(2px);
              }
            }

            .action-panel-btn-group {
              visibility: visible;

              -webkit-animation-duration: .2s;
              -moz-animation-duration: .2s;
              -o-animation-duration: .2s;
              animation-duration: .2s;
              -webkit-animation-fill-mode: both;
              -moz-animation-fill-mode: both;
              -o-animation-fill-mode: both;
              animation-fill-mode: both;
              -webkit-animation-name: fadeInDown;
              -moz-animation-name: fadeInDown;
              -o-animation-name: fadeInDown;
              animation-name: fadeInDown;
            }
          } /* .action-panel */
        } /* &hover */
      } /* panel-background */

      .panel-footer {
        .form-group {
          margin-bottom: 0;
        }
      }

      ul.tag-list {
        min-height: 26px;
        margin: 0;
        padding: 0 5px 0 0;
        overflow: hidden;
        list-style: none;

        li.empty-tag {
          float: left;
          list-style: none;
          font-size: 12px;
          white-space: nowrap;
          xpadding: 3px 5px;
          margin: 3px 5px 3px 0;
          white-space: nowrap;
          color: #999;
          xpadding: 3px 5px;
          xmargin: 3px 5px 3px 0;
        }

        li.tag {
          @include transition(all .2s ease-in-out);

          float: left;
          border: 0;
          border-radius: 5px;
          position: relative;
          max-width: 96%;
          margin: 0 5px 5px 0;
          background-color: #cfd6d9;
          padding-top: 3px;
          padding-bottom: 3px;
          cursor: default;

          display: list-item;
          text-align: -webkit-match-parent;

          &:hover {
            background-color: #868d91;
          }

          a {
            padding: 0 10px;
            line-height: 21px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none;
            color: #212124;
            font-weight: 400;

            &:hover {
              color: #fff
            };
          }
        }
      }

      ul.dropdown-menu {
        margin: 25px 0 0 0;

        li {
          a {
            i {
              padding-right: 7px;
            }
          }
        }
      }
    } /* .panel */
  } /* .upload-grid */

  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  #split-view {
    background-color: #fff;

    .sidebar {
      display: none;

      @media (min-width: 768px) {
        position: fixed;
        top: 70px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #3d444b; /* #f5f5f5; */
        border-right: 1px solid #eee;
      }

      .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
      }

      .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 16px;
        color: #fff;
        vertical-align: middle;
        text-transform: uppercase;

        &:hover {
          background-color: #292d33;
        }

        i.icon {
          color: #428bca;
          padding-right: 5px;
          font-size: 16px;
        }

        b.chevron {
          font-weight: normal;
          display: inline-block;
          vertical-align: middle;
          float: right;
          color: #292d33;
        }

      }

      .nav-sidebar > .active > a,
      .nav-sidebar > .active > a:hover,
      .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #373d44;

        b.chevron {
          xcolor: #3d444b;
          color: #aaa;
        }
      }

    } /* .sidebar */

    .main {
      top: 70px;
      background-color: #fff;

      @media (min-width: 768px) {
        padding-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
      }

      h1.page-header {
        border-bottom: 1px solid #eee;
        margin: 0 0 25px;
      }

      h2.sub-header {
        margin-top: 0;
        margin: 40px 0 20px;

        border-bottom: 1px solid #eee;
      }

      .form-group {
        margin-left: 0;
        margin-right: 0;

        label {
          font-size: 16px;
        }

        input, select {
          font-size: 16px;
          background-color: #eee;
        }

        button {
          font-size: 20px;
        }

        &.action {
          margin-top: 40px;
        }
      }

      .avatar {
        border-radius: 300px;
        border-width: 3px;
        width: 96px;
        height: 96px;
        display: block;
        overflow: hidden;
        margin-left: 8px;
        border: transparent 2px solid;
      }

      .input-group-inline {
        float: left;
      }

    }

  } /* split-view */
}

.simply-toast.account {
}
