@import 'web/setup';

/* ==================== COLORS ================== */

$color-cyan-dark: #54828c;
$color-cyan-light: #76b7c6;
$color-cyan-dirty: #8f9da0;
$color-cyan-dirty-light: #b1c2c6;
$color-celeste: #99edff;
$color-brown-light: #f2ab30;
$color-brown: #bf9c60;
$color-brown-dark: #998d82;
$color-white: #fff;
$color-black: #000;
$color-mustard: #c9cf23;
$color-mustard-light: #c9cf23;

/* ==================== GENERAL ================== */

@mixin transition($trans: background .5s ease){
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

@mixin slideIn($trans: translateX(-480px)){
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -o-transform: $trans;
  transform: $trans;
}

body {
  font-family: $font-family;
  height:100%;
  color: $color-dark-blue;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family;
  letter-spacing: 0px;
  margin-bottom:16px;
  color:$color-dark-blue;
  font-weight: 400;
  margin-bottom:26px;

}

h1 {
  font-size: 42px;
  line-height: 52px;
}

h2 {
  font-size: 38px;
  line-height: 44px;
}

h3 {
  font-size: 28px;
  line-height: 28px;
}

p {
  font-size:15px;
  line-height:26px;
  margin-bottom:32px;
}

.form-control {
  border-radius: 0;
  border:1px solid #ccc;
  @include transition;
  padding:20px;
  box-sizing: border-box;
  &:focus{
    background-color:#eee;
    box-shadow: none;
  }
}

.btn-db {
  background-color: $color-dark-blue;
  color: #fff;
  border-radius:0;
  padding:10px;
  @include transition;
  width:100%;

  &:hover{
    color: #fff;
    background-color:#658dab;
  }
}

.sn-links a {
  color: $color-dark-blue;
  @include transition(color 0.5s ease);

  &:hover {
    color: $color-orange;
  }

  .fa{
    font-size:32px;
    margin:5px;
  }
}

/* ====================== HEADER ========================= */

header.page-header {
  background: transparent -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 90%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 90%);
  background-color: transparent;
  @include transition(background-color .2s ease);

  .navbar-tag {
    // color: $color-cyan-light !important;
    color: $color-brown-light !important;
  }

  .navbar-tag:hover,
  .navbar-tag:active,
  .navbar-tag:focus {
    // color: $color-cyan-dark !important;
    color: $color-brown !important;
  }

  .button-chromeless {
    color: rgba(255,255,255,.9) !important;

    &:hover {
      color: rgba(255,255,255,.99) !important;
    }
  }

  #sign-up-button {
    border-color: $color-mustard !important;
    background-color: $color-mustard;
    color: #color-white;
    font-weight: 600 !important;
  }

  #sign-in-button {
    color: rgba(255,255,255,.9) !important;
    font-weight: 600 !important;

    &:hover {
      color: rgba(255,255,255,.99) !important;
    }
  }
}

/* ====================== MODAL ======================== */

.modal-content {
  background-color: rgba(21.255, 26.255, 40.255, 1.0);
}

.modal-header {
  border-bottom: 0;

  h4 {
    color: #ccc;
    font-weight: bold;
  }

  .close {
    color: #fff !important;
    text-shadow: none;
    font-size: 27px;
  }
}

/* ====================== MAIN ========================= */

#main {
  background: image-url('diecisiete/home-background.jpg') 0 0 no-repeat fixed;
  height: 747px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;  /* Internet Explorer 7/8 */
  background-attachment: fixed;

  @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)  {
    background-attachment: scroll;
  }

  @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px) {
    background-attachment: scroll;
  }

  .cont-wrapper {
    position: relative;
    width: 100%;
    top: 230px;
  }

  p.intro {
    font-size:46px;
    line-height: 57px;
    letter-spacing: -1px;
    font-weight: 400;
    padding:30px 0 30px 0px;
    color:#fff;
    margin-bottom:40px;
    position: relative;
    text-shadow: 1px 2px 2px rgba(0.255, 0.255, 0.255, 0.5);
  }

  p.btn-wrp {
    text-align: center;
  }
} /* #main */

.c2a-button {
  color:#fff;
  background-color:$color-orange;
  font-size:24px;
  padding:10px 40px;
  font-weight:700;
  cursor: pointer;
  border-radius: $btn-default-radius;

  @include transition(background-color 0.5s ease);

  &:hover{
    text-decoration: none;
    color: #fff;
    background: $color-dark-blue;
  }
}

#intro-strip {
  background-color:$color-orange;
  padding:20px 0;
  text-align:center;
  -moz-box-shadow: 0 -2px 6px rgba(0.255, 0.255, 0.255, 0.3);
  -webkit-box-shadow: 0 -2px 6px rgba(0.255, 0.255, 0.255, 0.3);
  box-shadow: 0 -2px 6px rgba(0.255, 0.255, 0.255, 0.3);

  h1{
    color: #fff;
  }
}

#home {
  padding-top:80px;
  padding-bottom: 0;
  height:100%;
  margin-bottom:0;

  .ipad {
    position: relative;
    right: -10px;
    overflow: hidden;
  }

  .ipad img {
    position: relative;
    opacity: 0;
    right: 500px;
    @include transition(all 1s ease);
  }

  .ipad.anim img {
    opacity: 1;
    @include slideIn(translateX(500px));
  }

  .text {
    position: relative;
    opacity: 0;
    left: -50px;
    @include transition(all 1.5s ease);
  }

  .text.anim {
    opacity: 1;
    @include slideIn(translateX(50px));
  }

} /* #home */

/* ====================== PARALLAX ========================= */

#parallax {
  position: relative;
  width: 100%;
  background: image-url('diecisiete/parallax-background.jpg') no-repeat 50% 0 fixed;
  background-size: cover;
  padding-bottom: 85px;

  h2 {
    color: $color-white;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0px;
    margin-top: 85px;
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,.5);
  }

  p {
    color: $color-white;
    max-width: 750px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: justify;
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 300;
    text-shadow: 0px 1px 1px rgba(0,0,0,.5);

    b {
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}

/* ====================== FOOTER ========================= */

  footer {
    background-color: $color-white;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
    padding: 20px 0;
    border-top: 1px solid rgba(0,0,0,.08);
    font-size: 16px;
    font-weight: 400;
    color: #aaa;

    a {
      color: #666;
      text-decoration: none !important;

      &:hover {
        color: #999;
      }
    }

    .wrapper {
      max-width: 960px;
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;

      .left {
        float: left;
        line-height: 2;

        a {
          margin-right: 14px;
        }
      } /* .left */

      .left:first-child {
        display: inline-block;
        margin-right: 10px;

        img {
          width: 85px;
          position: relative;
          top: 4px;
        }

        h5 {
          display: inline-block;
          font-size: 14px;
          width: 87px;
          height: 15px;
          color: #322f31;
          text-align: left;
          margin: 0 auto;
          border: 0;
        }

        a.logo {
          display: block;
          background: image-url('voyzes-logo-gray-small.png') no-repeat;
          text-indent: -3000px;
          overflow: hidden;
          text-decoration: none;
          width: 87px;
          height: 15px;
        }

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
          a.logo {
            background: image-url('voyzes-logo-gray-small@2x.png') no-repeat;
            background-size: 80px 15px !important;
          }
        }

      } /* left:first-child */

      .right {
        float: right;
        line-height: 2;
        font-size: 15px;

        span.copy {
        }

        a {
          margin-left: 14px;
        }
      } /* .right */
    } /* .wrapper */
  } /* footer */

  #cookie-law-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(0,0,0,0.85);
    text-align: center;
    color: #fff;

    .inner-wrapper {
      max-width: 960px;
      width: 95%;
      margin: auto;
    }

    p {
      font-size: 13px;
      font-weight: 300;
      float: left;
      display: block;
      margin-top: 5px !important;
      margin-bottom: 5px !important;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      max-width: 90%;
    }

    .button {
      float: right;
      width: 51px;
      margin: auto;
      margin-top: 3px;
      font-size: 12px;
      height: 30px;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.8);
      border-color: rgba(255, 255, 255, 0.4);
      background-color: rgba(0,0,0,0);
      font-weight: 600;

      &:hover,
      &:active {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 0.8);
      }
    }
  } /* #cooky-law-bar */
/* ==================================== MEDIA QUERIES ==================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media only screen and (min-width: 1024px) and (max-width: 1199px){
  /* iPad Landscape */
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* iPad Portrait */
  header {
    nav ul.nav {
      font-size: 16px !important;

      li {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }

      li:nth-child(4) {
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    nav {
      .navbar-collapse {
        border: 0;
        background-color: rgba(0, 0, 0, 0.7)
      }

      &.navbar-default {
        ul.navbar-nav {
          width: 100%;

          li {
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
  }

  h1 {
    font-size: 34px;
    line-height: 38px;
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
  }

  h3 {
    font-size: 22px;
    line-height:26px;
  }

  #main {
    background-attachment: scroll;
    background-position-x: -100px;

    min-height: 600px;
    .cont-wrapper {
      top:110px;
    }

    p.intro {
      text-align: center;
    }
  }

  #home {
    padding-top:30px;
    padding-top:80px;
    padding-bottom: 0;
    height:100%;
    margin-bottom:0;

    .ipad{
      position: relative;
      right: -10px;
      overflow: hidden;
    }

    .ipad img {
      position: relative;
      opacity: 0;
      right: 500px;
      @include transition(all 1s ease);
    }

    .ipad.anim img {
      opacity: 1;
      @include slideIn(translateX(500px));
    }

    .text {
      position: relative;
      opacity: 0;
      left:-50px;
      @include transition(all 1.5s ease);
    }

    .text.anim {
      opacity: 1;
      @include slideIn(translateX(50px));
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px){
  /* when menu is minimized */
  header {
    nav {
      xbackground-color: rgba(55, 61, 68, 0.8) !important;
      .collapse {
      }

      ul.nav {
        li {
          padding: 15px !important;
          height: auto !important;

          a {
            border: 0 !important;
          }
          position: relative !important;
          display: block !important;
        }
      }

      &.navbar-default {
        ul.navbar-nav {
          width: 100%;

          li {
            border-bottom: 1px solid transparent;
          }
        }
      }

    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 479px){
  /* iPhone Portrait */
  header {
    min-height:50px;

    nav {
      .navbar-collapse {
        border: 0;
        background-color: rgba(0, 0, 0, 0.7)
      }
    }

    nav ul.nav {
      li {
        position: relative !important;
        display: block !important;
      }
    }

    h1#logo {
      position: relative;
      top:-6px;
    }

    a.mini-nav {
      position: relative;
      top:-8px;
      /*  line-height: 0; */
    }
  }

  #main {
    min-height:500px !important;

    .cont-wrapper{
      top:100px;
    }

    p.intro {
      text-align: center;
      font-size:32px;
      line-height:38px;
    }
  }

  .btn-db {
    margin-top:10px;
  }

  footer p, footer .sn-links {
    text-align: center;
  }
}

@media (max-width:768px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #home {
    .text {
      top: 0;
    }
  }
}
