body.documents {
  background-color: #fff;
  
  .container {
    margin-top: 95px;

    .page-container {
      border: 1px solid #dbdbdb;

      .title-container {
        h1 {
          margin-top: 10px;
        }
      }
      
      .content-container {
      }
      
    }

    .collab-container {

    }

    
  }

}

#inline-content {
  font-size: 24px;
}

#too-early-alert {
  i {
    font-size: 48px;
    margin-top: 25px;
  }
  
  p, h2 {
    text-align: center;
    margin: 0 auto 25px auto;
  }
}

