#inline-content {
  font-size: 24px;
}

#too-early-alert {
  i {
    font-size: 48px;
    margin-top: 25px;
  }
  
  p, h2 {
    text-align: center;
    margin: 0 auto 25px auto;
  }
}

#content-container {
  h1 {
    margin-top: 0;
  }
}