@import 'web/setup';

body.documents {
  background-color: #fff;

  .simply-toast {
    &.alert-save {
      background-color: #292d33;
      // border: #ddd solid 1px;
      color: #fff;
    }

    .close {
      display: none;
    }
  }

  // Defined in application.css.scss
  // /* Remove media query */
  // .navbar-header {
  //   float: left;
  // }

  // .navbar-nav {
  //   float: left;
  //   margin: 0;

  //   &.navbar-right {
  //     float: right;
  //     margin-right: 0;
  //   }

  //   li {
  //     float: left;

  //     @media (max-width: 479px) {

  //       button.btn-dispensable-xs {
  //         display: none;
  //       }

  //     }
  //   }

  //   .open .dropdown-menu {
  //     position: absolute;
  //   }
  // } /* .navbar-header */

  /* Used in toolbar and popover */
  .toolbar-nav {
    li {
      padding: 0;

      a {
        line-height: 30px;
        border: 0;
      }

      button {
        outline: none !important;
        height: 50px;
        margin: auto 2px;
        width: 22px;
        padding: 10px 0;
        border: 1px;
      }

      #profile-button {
        width: 30px;
      }

      &.separator {
        padding-left: 3px;
        padding-right: 3px;
      }
    }

    .btn-tlb {
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;
      color: #bbb;
      font-size: 20px;
      font-weight: normal;

      &:active,
      &:hover {
        color: #fff;
      }

      &.ql-active {
        color: $color-blue;
      }
    }

  } /* .toolbar-nav */

  ul.speed-slider-nav {
    padding-left: 3px;

    li {
      display: inline;

      &.slider-container {
        width: auto;

        #playback-speed-slider-wrapper {
          margin: 12px 0 8px 0;
          width: 105px;
          height: 30px;

          .slider-track {
            height: 5px;
          }

          .slider-handle {
            height: 15px;
            width: 15px;
          }
        }

        input.playback-speed-slider {
          margin: 0 2px;
        }
      }

      button, a {
        height: 50px;
        width: 20px !important;
      }
    }
  } /* .sub-toolbar-nav */

  header.page-document-header {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

    nav {
      .tooltip {
        font-weight: bold;

        .tooltip-inner {
          text-transform: uppercase;
          background-color: #292d33;
          padding: 6px 10px;
          /* wrap spaces */
          // white-space:pre-wrap;
          /* don't break spaces */
          white-space:pre;
          max-width:none;
        }

        &.top .tooltip-arrow {
          border-top-color: #292d33;
        }

        &.right .tooltip-arrow {
          border-right-color: rgba(41, 45, 51, 0.9);
        }

        &.bottom .tooltip-arrow {
          border-bottom-color: #292d33;
        }

        &.left .tooltip-arrow {
          border-left-color: #292d33;
        }
      } /* .tooltip */

      .dropdown {
        height: 50px;

        .dropdown-toggle {
          border: 0;
          background-color: transparent;
          padding: 0;

          a {
            text-decoration: none;
            color: rgba(200,200,200,.25);

            &:hover,
            &:active,
            &:focus {
              color: rgba(200,200,200,.9);
            }
          }

          .caret {
            @include transition(color .1s ease-in-out);
            border: 0;
            height: inherit;
            margin-left: 5px;
          }
        }
      } /* .dropdown */
    }

    .topbar-primary {
      height: 70px;

      nav {
        .navbar-header {
          height: 70px;
          margin-left: 0;

          img {
            height: 70px;
            min-width: 70px;
          }
        }

        ul.dropdown-menu {
          top: 70px;
          background-color: #292d33;
          border: 0;
          padding: 0;
          margin: 0;
          border-radius: 0px 0px 3px 3px;

          .divider {
            background-color: transparent;
          }

          li {
            text-align: left;
            margin: 0;
            padding: 0;
            font-size: 16px;
            border-radius: inherit;
          }

          & > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: inherit;

            i.fa {
              padding-right: 10px;
              min-width: 28px;
            }
          }

          & > li > a:hover,
          & > li > a:focus {
            color: $color-white;
            text-decoration: none;
            // background-color: #292d33;
            background-color: #3d444b;
            border-radius: inherit;
          }

          & > .active > a,
          & > .active > a:hover,
          & > .active > a:focus {
            color: #fff;
            text-decoration: none;
            background-color: #428bca;
            outline: 0;
          }
        } /* .dropdown-menu */

        ul#playback-speed-menu {
          height: 50px;

          ul.speed-slider-nav {
            li {
              height: 50px;

              .btn-tlb {
                font-size: 1.5rem;
              }
            }
          }
        }

        #logo {
          width: 40px;
          height: 50px;
          line-height: 50px;
          margin: 0;
          padding: 0;
          text-indent: -9999px;
          background: image-url('main-logo-v.png') no-repeat 0 0 !important;
          @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
            background: image-url('main-logo-v@2x.png') no-repeat 0 0 !important;
            background-size: 40px 50px !important;
          }
        }

        ul.audio-player-nav {
          padding-left: 10px;

          li {
            button, a {
              @include transition(color .1s ease-in-out);
              width: 26px;

              &.btn-tlb {
                font-size: 2.5rem;
              }

              &.btn-speed {
                font-family: inherit;
                font-weight: 400;
                font-size: 2rem;
                font-weight: bold;
                letter-spacing: -2px;
                width: 28px;

                p {
                  margin: 0;
                  border: 0;
                  padding: 0;
                  display: -webkit-flex; // Safari
                  -webkit-justify-content: space-around; // Safari 6.1+
                  display: flex;
                  justify-content: space-around;
                  text-align: justify;
                  text-justify: inter-word;
                }
              }

              &.btn-elt,
              &.btn-ttp {
                font-family: $font-family;
                font-size: 1.5rem;
                letter-spacing: -1px;
                width: 50px !important;
                line-height: 20px;

                p {
                  margin: 5px 0;
                  display: -webkit-flex; /* Safari */
                  -webkit-justify-content: space-around; /* Safari 6.1+ */
                  display: flex;
                  justify-content: space-around;
                  text-align: justify;
                  text-justify: inter-word;
                  font-weight: 400;
                }
              }

              &.player-play-pause {
                font-size: 3rem;
                margin: 0 8px;
              }

              &.player-step-backward,
              &.player-step-forward {
                font-size: 2rem;
              }

              &.player-reset {
                font-size: 2.1rem;
              }
            }
          }

        } /* ul.audio-player-nav */

        .uncollapse {
          display: block !important;

          &.navbar-uncollapse {
            padding-right: 0;

            height: auto !important;
            padding-bottom: 0;
            overflow: hidden !important;
          }
        }

        .navbar-collapse {
          padding-right: 0;
        }

        .navbar-flush-right {
          float: right;
          margin-top: 8px;

          .btn-with-border, .btn-share {
            background-color: transparent;
            border-color: #ddd;
            color: #ddd;
            font-size: 14px;
            font-weight: normal;
            text-transform: uppercase;
            padding: 9px;

            i {
              padding-right: 5px;
            }
          }

          .btn-with-border:active,
          .btn-with-border:hover  {
            border-color: #fff;
            color: #fff;
          }
        }
      } /* nav */
    } /* .topbar-primary */

    .topbar-secondary {
      background-color: #3d444b;
      height: 70px;

      .wavebar {
        display: block;

        #player-progress-bar {
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: 4px;
          height: 2px;
          left: 0%;
          width: 100%;
          z-index: 10;
        }

        .waveform-timeline-container {
          position: relative;
          height: 10px;

          canvas {
            left: 0;
          }
        }

        .waveform-container {
          position: relative;
          min-width: 300px;
          height: 40px;

          wave > wave {
            left: 0;
          }

          ::-webkit-scrollbar {
            width: 2px;
            height: 2px;
          }

          ::-webkit-scrollbar-button {
            display: none;
            background: rgba(200, 200, 200, 0.7);
          }

          ::-webkit-scrollbar-track-piece {
            background: rgba(100, 100, 100, 0.2);
          }

          ::-webkit-scrollbar-thumb {
            background: rgba(200, 200, 200, 0.7);
          }

          canvas {
            left: 0;
            overflow-x: hidden;
          }

          .wavesurfer-region {
            border-radius: 2px;

            &:hover {
              border: 2px solid rgba(254,238,73,0.8); // #fed50c
            }

            .wavesurfer-handle {
              width: 2px !important;
            }

            .wavesurfer-handle.wavesurfer-handle-start {
              left: -2px !important;
            }

            .wavesurfer-handle.wavesurfer-handle-end {
            }
          }

        } /* .waveform-container */
      } /* .wavebar */
    } /* .topbar-secondary */
  } /* header */

  &.waveform-hidden {
    header.page-document-header {
      height: 70px;

      .topbar-secondary {
        display: none;
      }
    }
  }

  &.waveform-visible {
    header.page-document-header {
      height: 140px;
    }
  }

  // Defined in application.css.scss
  // .popover {
  //   background-color: #292d33;

  //   .arrow {
  //     xdisplay: none;

  //     &:after {
  //       border-bottom-color: #292d33;
  //       border-top-color: #292d33;
  //     }
  //   }
  // } /* .popover */

  ul.content-toolbar-container {
    padding: 0;

    li {
      button, a {
        height: 50px;
        width: 22px;
      }
    }
  } /* .content-toolbar-container */

  .popover.content-editor-format-popover {
    max-width: 100%;

    &.fade.top.in {
      -webkit-animation-duration: .2s;
      -moz-animation-duration: .2s;
      -o-animation-duration: .2s;
      animation-duration: .2;

      -webkit-animation-name: fadeInUp;
      -moz-animation-name: fadeInUp;
      -o-animation-name: fadeInUp;
      animation-name: fadeInUp;
    }

    .popover-content {
      padding: 0 15px;

      ul.content-editor-toolbar-container {
        padding: 0;

        li {
          button, a {
            height: 50px;
          }
        }
      }
    }
  } /* .popover.content-editor-format-popover */

  .popover.content-viewer-selection-popover {
    max-width: 100%;

    &.fade.top.in {
      -webkit-animation-duration: .2s;
      -moz-animation-duration: .2s;
      -o-animation-duration: .2s;
      animation-duration: .2;

      -webkit-animation-name: fadeInUp;
      -moz-animation-name: fadeInUp;
      -o-animation-name: fadeInUp;
      animation-name: fadeInUp;
    }

    .popover-content {
      padding: 0 15px;

      ul.content-viewer-toolbar-container {
        padding: 0;

        li {
          button, a {
            height: 50px;
          }
        }
      }
    }
  } /* .popover.content-viewer-selection-popover */

  .popover.dropdown-popover {
    max-width: 450px;
    padding: 5px 5px;
    border: 0;
    right: 5px;
    position: fixed;
    top: 70px !important;

    @media (max-width: 767px) {
      max-width: 100%;
      right: 5px !important;
      left: 5px !important;
    }

    .popover-content {
      padding: 0;

      ul.popdown-menu {
        background-color: #292d33;
        border: 0;
        padding: 0;
        margin: 0;
        border-radius: 0px 0px 3px 3px;

        .divider {
          background-color: transparent;
        }

        li {
          list-style: none;
          text-align: left;
          margin: 0;
          padding: 0;
          font-size: 16px;
          border-radius: inherit;
        }

        & > li > a {
          display: block;
          padding: 15px 20px;
          clear: both;
          line-height: 1.4;
          white-space: nowrap;
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          border-radius: 2px;

          i {
            padding-right: 10px;
          }
        }

        & > li > a:hover,
        & > li > a:focus {
          color: $color-white;
          text-decoration: none;
          // background-color: #292d33;
          background-color: #3d444b;
        }

        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {
          color: #fff;
          text-decoration: none;
          background-color: #428bca;
          outline: 0;
        }
      } /* .popdown-menu */
    } /* .popover-content */
  } /* .popover.dropdown-popover */

  .popover.share-popover {
    max-width: 450px;
    padding: 5px 5px;
    border: 0;
    right: 45px;
    position: fixed;

    @media (max-width: 767px) {
      max-width: 100%;
      right: 5px !important;
      left: 5px !important;
    }

    .popover-content {
      padding: 10px;

      .social-container {
        margin: 0 0 5px 0;
        overflow: hidden;

        ul.social-networks {
          width: 100%;
          margin: 0;
          padding: 0;
          list-style: none;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;

          li {
            display: inline-block;
            vertical-align: middle;
            xmargin: 0 -3px 0 0;
            border: 0;
            padding: 0;

            button, a {
              height: 30px;
              width: 22px;
            }

            &.facebook {
              a, button {
                xbackground-color: #2f609c;

                &:hover {
                  xbackground-color: #295488;
                }
              }
            }

            &.twitter {
              a, button {
                xbackground-color: #55acee;

                &:hover {
                  xbackground-color: #3ea1ec;
                }
              }
            }

            &.linkedin {
              a, button {
                xbackground-color: #0074a1;

                &:hover {
                  xbackground-color: #006288;
                }
              }
            }

            &.email {
              a, button {
                xbackground-color: #089e00;

                &:hover {
                  xbackground-color: #078500;
                }
              }
            }
          }
        }
      } /* .social-container */

      .share-link-container {
        p {
          margin: 10px 0;
          white-space: normal;
          font-size: 14px;
          color: #dbdbdb;

          i {
            margin-right: 4px;
          }
        }

        input {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
          border: 1px solid rgba(0, 0, 0, .3);
          border-top: 1px solid rgba(0, 0, 0, .4);
          border-bottom: 1px solid rgba(0, 0, 0, .2);
          border-radius: 3px;
          padding: 7px;
          transition: border linear .2s, box-shadow linear .2s;
          outline: none;
          font-size: 14px;
        }

        .width-full {
          width: 100%;
        }
      } /* .share-link-container */
    } /* popover-content */
  } /* .popover.share-popover */

  .popover.publish-popover {
    max-width: 540px;
    padding: 5px 5px;
    border: 0;
    right: 75px !important;
    position: fixed;
    top: 70px !important;

    @media (max-width: 767px) {
      max-width: 100%;
      right: 5px !important;
      left: 5px !important;
    }

    .popover-content {
      padding: 10px;

      .popover-heading {
        p {
          white-space: normal;
          font-size: 16px;
          text-transform: uppercase;
          color: #dbdbdb;
          font-weight: bold;
        }

        .form-group-document-accessibility {
          label {
            color: #fff;
            margin-right: 5px;
            font-weight: normal;
            font-size: 16px
          }

          select {
            background-color: transparent;
            //-webkit-appearance: none;
            //-moz-appearance: none;
            color: #fff;
            font-size: 16px;
            height: 35px;
            padding: 0 5px;

            option {
              color: #dbdbdb;
              background-color: #292d33;
            }
          }
        }

        .form-group-privacy {
          .group-privacy {
            label {
              font-size: 14px;
            }
          }
        }
      }/* .popover-heading */

      .popover-body {
        p.privacy-help {
          white-space: normal;
          font-size: 14px;
          color: #dbdbdb;
        }

        ul.privacy-options {
          padding: 0;
          list-style-type: none;

          li {
            .btn-options {
              color: #ccc;
              text-decoration: none;
              font-size: 16px;

              &:hover {
                color: #fff;
              }

              i {
                font-style: normal;
                font-weight: bold;
              }
            }
          }
        }
      }/* .popover-body */

      .popover-footer {
        padding: 5px 0 0 0;

        .btn-publish {
          font-weight: bold;
          xfont-size: 18px;
        }

        .btn-submit {
          font-weight: bold;
        }

        .btn-cancel {
          color: #ccc;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            color: #fff;
          }
        }
      }
    } /* popover-content */
  } /* .popover.publish-popover */

  article#document {
    height: 100%;
    margin-top: 160px;

    #document-show, #document-edit {
      height: 100%;

      .document-overlay {
        height: 100%
      }
    }

    header.meta-header {
      background-color: transparent;
      position: static;
      height: 80px;

      @media (max-width: 767px) {
        height: 60px;
      }

      .meta-header-container {

        .link {
          color: inherit;
          text-decoration: none;
          cursor: pointer;
        }

        .tooltip {
          font-weight: bold;

          .tooltip-inner {
            //background-color: rgba(41,45,51,1); // #292d33;
            padding: 10px;
          }
        }

        .meta-ownership {

          .meta-avatar {
            display: table-cell;

            a.avatar-link {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: normal;

              img.avatar-image {
                display: inline-block;
                vertical-align: middle;
                border-radius: 100%;
                background: #f0f0f0;
                border: transparent 1px solid;
              }

              .xs-size {
                width: 32px;
                height: 32px;
              }

              @media (min-width: 768px) {
                .sm-size {
                  width: 36px !important;
                  height: 36px !important;
                }
              }
            }
          }

          .meta-summary {
            display: table-cell;
            vertical-align: middle;
            font-size: 14px;
            line-height: 1.6;
            padding-left: 10px;

            a.link {
              color: #468c54;
              text-decoration: none;

              &:hover {
                color: rgba(0,0,0,0.6);
              }
            }

            .supplemental {
              display: block;
              color: rgba(0,0,0,0.44);
              font-size: 12px;
              line-height: 1.2;
              text-transform: uppercase;

              .divider {
                padding-right: .45em;
                padding-left: .45em;

                &:after {
                  content: '·';
                }
              }

              .reading-time {}

              .visibility, .privacy {
                i {
                  padding-right: 3px;
                }
              }
            }

          }
        }
      } /* .meta-header-container */
    } /* header.meta-header */

    footer.meta-footer {
      -webkit-font-smoothing: antialiased;
      color: rgba(0, 0, 0, 0.8);
      display: block;
      // font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      height: 100px;
      letter-spacing: -0.36000001430511475px;
      line-height: 25px;
      text-rendering: optimizelegibility;
      visibility: visible;

      .document-footer-container {
        margin-top: 35px !important;
        padding-left: 0;
        padding-right: 0;

        .document-tags-container {

          input {
            border: 0;
            font-size: 16px;
            font-weight: 600;
            box-shadow: none;
            text-transform: uppercase;
            color: #999;
            xpadding-left: 0;
          }

          .select2-container, .select2-container-multi {
            border: 0;
            drop-shadow: none !important;
            box-shadow: 0 0 0 0 !important;

            &.select2-dropdown-open {
            }

            &.select2-drop-above {
            }

            &.select2-container-active {
            }

            &.form-control {
            }

            input.select2-input {
              &.select2-input {
                // drop-shadow: none;
                // margin: 0;
              }

              &.select2-focused {
                // drop-shadow: none;
                // margin: 0;
              }
            }

            ul.select2-choices {
              border: 0;
              background: none;
              box-shadow: none !important;

              li.select2-search-field {
                margin: 2px 0;
              }

              li.select2-search-choice {
                @include transition(all .2s ease-in-out);
                margin: 3px 5px 0 0;
                border: 1px solid #f0f0f0;
                border-radius: $btn-default-radius;
                background-color: #fafafa;
                background-image: none;
                box-shadow: none;
                padding: 9px 12px;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                color: #999;

                &:hover {
                  border-color: #a9d8b2;
                  background-color: rgba(87, 173, 104, 0.2);
                  color: #468c54;
                }
              }

              .select2-search-choice-close {
                top: 1px;
                left: 1px;
              }
            }
          }

          .tags-title {
            font-size: 14px;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
          }

          ul.tag-list {
            min-height: 26px;
            margin: 0;
            padding: 4px 5px 0 0;
            overflow: hidden;
            list-style: none;

            li {
              float: left;
              list-style: none;
              padding: 5px 12px;
              font-size: 16px;
              font-weight: 600;
              text-transform: uppercase;
            }

            li.empty-tag {
              white-space: nowrap;
              margin: 3px 5px 3px 0;
              white-space: nowrap;
              color: #999;
              padding: 0;
            }

            li.tag {
              @include transition(all .2s ease-in-out);
              border: 1px solid #f0f0f0;
              border-radius: $btn-default-radius;
              position: relative;
              max-width: 96%;
              margin: 0 8px 5px 0;
              background-color: #fafafa;
              cursor: default;
              display: list-item;
              text-align: -webkit-match-parent;
              color: #999;

              &:hover {
                border-color: #a9d8b2;
                background-color: rgba(87, 173, 104, 0.2);
              }

              a {
                line-height: 1.4em;
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-decoration: none;
                color: rgba(0,0,0,0.5);

                &:hover {
                  text-decoration: underline;
                  color: #468c54;
                };
              }
            } /* li.tag */
          } /* ul.tag-list */

        }
      }
    } /* footer.meta-footer */
  } /* article#document */

  &.waveform-visible {
    .container {
      margin-top: 145px;
    }
  }

  &.waveform-hidden {
    .container {
      margin-top: 75px;
    }
  }

  .container {
    .document-loading-overlay {
      position: fixed;
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(230,230,230,1);

      font-size: 2.5em;
      font-weight: 600;
      color: #777;
      text-align: center;
      z-index: 100;

      .message-container {
        position: absolute;
        top: 50%;
        width: 100%;

        p {
          padding-left: 15px;
          padding-right: 15px;
        }

        p.reason {
          color: #aaa;
          font-size: 16px;
          font-weight: normal;
        }

        .loading {
          position: absolute;
          top: 50%;
          left: 50%;
          @include opacity(0);
          @include xtransform(translateX(-50%) translateY(-50%));

          &.spinner {
            @include opacity(1);
          }

          &:after {
            content: '';
            display: block;
            position: relative;
            width: 45px;
            height: 45px;
            -webkit-animation: rotate .6s linear infinite;
            -ms-animation: rotate .6s linear infinite;
            animation: rotate .6s linear infinite;
            border-radius: 100%;
            border-top: 3px solid #545a6a;
            border-bottom: 3px solid #d4d4db;
            border-left: 3px solid #545a6a;
            border-right: 3px solid #d4d4db;
            @include opacity(0.5);
          }
        } /* .loading */
      } /* .message-container */
    } /* .document-loading-overlay */

    .document-overlay {
      .document-container {
        height: auto;
        /* TODO: "box.com" style
        padding: 25px 45px;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        */
        xpadding: 0;

        .title-container {
          border-bottom: 1px solid #ededed;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

          h1 {
            font: inherit;
            font-weight: bold;
            font-size: 66px;
            color: #444;
            cursor: text;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0;
            line-height: 66px;
            padding-bottom: 10px;
          }

          // @media (max-width: 479px) {
          @media (max-width: 767px) {
            h1 {
              font-size: 46px !important;
              line-height: 46px;
              margin-bottom: 10px;
            }
          }

          #title-editor {
            padding: 0;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          #title-editor .ql-editor {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 66px;
            color: #444;
            -webkit-font-smoothing: antialiased;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          @media (max-width: 767px) {
            #title-editor .ql-editor {
              font-size: 46px;
            }
          }

        }

        .content-container {
          padding-top: 20px;
          font-weight: normal;
          font-size: 22px;
          line-height: 1.6em;
          color: #000;
          // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;

          .content-holder {
            overflow: hidden;
          }

          #content-editor {
            padding: 0;
          }

          .ql-editor, .editor-container {
            overflow: hidden !important;
          }

          /* Inside editor styles */
          #content-editor .ql-editor {
            // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
            font-weight: normal;
            font-size: 22px;
            line-height: 1.6em;
            -webkit-font-smoothing: antialiased;

            .segment-highlight {
              background-color: #ccc;
            }
          }

          .xspacer-container {
            height: 100px;
            display: block;
            clear: both;
          }
        }

      } /* .document-container */

      .gutter {
        .note-head {
          height: 32px;
          width: 32px;
          border-radius: 100%;
          border: transparent 1px solid;
          background-size: 32px 32px !important;
          box-shadow: 0px 1px 1px #999;
          margin: 0 5px 0 0;
          cursor: default;
          position: relative;
          transition: left 400ms ease, opacity 400ms linear, top 400ms ease;
          -webkit-transition: left 400ms ease, opacity 400ms linear, top 400ms ease;
          top: calc(50% - 14px);
          float: right;
          // left: 35px;
          // right: 1px;
        }

        .user-initials {
          position: absolute;
          top: 0;
          left: 15px;
          display: inline-block;
          color: transparent;
          line-height: 32px;
          font-size: 15px;
          font-family: Helvetica;
          text-align: center;
          vertical-align: top;

          &:hover {
            background-image: none !important;
            color: white;
          }
        }
      } /* .gutter */
    } /* .document-overlay */

  } /* .container */

  #select2-drop {
    box-shadow: none;
    border: 0;
    background-color: #292d33;
    border-radius: 3px;
    max-width: 350px;

    ul.select2-results {
      li {
        background-color: #292d33;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
      }

      li.select2-highlighted {
        background-color: #3d444b;
      }
    }
  }
} /* body.documents */

#inline-content {
  font-size: 24px;
}

#too-early-alert {
  i {
    font-size: 48px;
    margin-top: 25px;
  }

  p, h2 {
    text-align: center;
    margin: 0 auto 25px auto;
  }
}

