@import 'web/setup';

body.pages {
  footer {
    background-color: $color-white;
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
    padding: 20px 0;
    border-top: 1px solid rgba(0,0,0,.08);
    font-size: 16px;
    font-weight: 400;
    color: #aaa;

    a {
      color: #666;
      text-decoration: none !important;

      &:hover {
        color: #999;
      }
    }

    .wrapper {
      max-width: 960px;
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;

      .left {
        float: left;
        line-height: 2;

        a {
          margin-right: 14px;
        }
      } /* .left */

      .left:first-child {
        display: inline-block;
        margin-right: 10px;

        img {
          width: 85px;
          position: relative;
          top: 4px;
        }

        h5 {
          display: inline-block;
          font-size: 14px;
          width: 87px;
          height: 15px;
          color: #322f31;
          text-align: left;
          margin: 0 auto;
          border: 0;
        }

        a.logo {
          display: block;
          background: image-url('voyzes-logo-gray-small.png') no-repeat;
          text-indent: -3000px;
          overflow: hidden;
          text-decoration: none;
          width: 87px;
          height: 15px;
        }

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
          a.logo {
            background: image-url('voyzes-logo-gray-small@2x.png') no-repeat;
            background-size: 80px 15px !important;
          }
        }

      } /* left:first-child */

      .right {
        float: right;
        line-height: 2;
        font-size: 15px;

        span.copy {
        }

        a {
          margin-left: 14px;
        }
      } /* .right */
    } /* .wrapper */
  } /* footer */
} /* .pages */
