@import 'application-custom';

body.profiles {
  background-color: white;
  .hero-background {
    background-color: #fafafa;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;

    &.is-under-metabar {
      margin-top: 65px;
    }

    .row {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .col {
      position: relative;
      min-height: 1px;
      padding-right: 20px;
      padding-left: 20px;

      box-sizing: border-box;
    }

    .hero {
      text-align: center;
      height: 500px;
    }

    .hero-profile {
      height: auto;
      text-align: left;

      .hero-avatar {
        position: relative;

        .cover-picker-controls {
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: auto;
          background: rgba(0,0,0,.3);
          border-radius: 100%;
          text-align: center;

          .button-replace-image {
            margin-top: 10px;
            margin-right: -9px;
          }
        }

        .avatar {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: normal;

          img.avatar-image {
            display: inline-block;
            vertical-align: middle;
            border-radius: 100%;
            background: #f0f0f0;
            border: transparent 1px solid;
          }

          @include media('>=tablet') {
            img.avatar-image {
              width: 100px;
              height: 100px;
            }
          }

          @include media('>=phone', '<tablet') {
            img.avatar-image {
              width: 80px;
              height: 80px;
            }
          }
        }
      } /* .hero-avatar */

      .hero-title {
        font-size: 32px;
        margin-left: -2px;
        margin-bottom: 0;

        width: 75%;
        letter-spacing: 0;

        .link-darker {
          color: rgba(0,0,0,.8);
        }
      }

      .hero-description {
        font-size: 16px;
        line-height: 1.2;
        margin-top: 4px;
        margin-bottom: 0;

        &.is-empty {
          margin-top: 0;
        }
      }
    } /* .hero-profile */

    .button-set {
      white-space: nowrap!important;

      &.button-set-profile {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      .middot-divider {
        color: rgba(0,0,0,.3);
        font-size: 14px;
        padding: 0;
        margin-left: 14px;
        margin-right: 14px;
        white-space: nowrap;

        &:after {
          content: '·';
        }
      }

      .button-set-inner {
        display: inline-block;
      }

      .button-set-inner:not(:first-child) {
        margin-left: 5px;
      }

    } /* .button-set */

    .button-set > .button-set-inner:last-child > .button:last-child {
      margin-right: 0;
    }

    .button-set-profile+.button-set-profile {
      padding-top: 0;
    }
  } /* .container */

  .follow-state {
    .button-unblock {
      display: none;
    }
  }

  .link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  .hero-title {
    letter-spacing: 0;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    margin-left: -2.75px;
    line-height: 1.2;
    letter-spacing: -.04em;
    color: rgba(0,0,0,.8);
    margin-bottom: 8px;
    outline: 0;
    word-break: break-word;
    word-wrap: break-word;
  }

  .hero-description {
    color: rgba(0,0,0,.6);
    font-size: 18px;
    outline: 0;
    word-break: break-word;
    word-wrap: break-word;
  }

  .button {
    display: inline-block;
    position: relative;
    height: 37px;
    padding: 0 16px;
    color: rgba(0,0,0,.44);
    background: rgba(0,0,0,0);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.15);
    vertical-align: bottom;
    white-space: nowrap;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border-radius: 999em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;

    -webkit-tap-highlight-color: transparent;
  }

  .button-chromeless {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    line-height: inherit;
    border-width: 0;
    padding: 0;
    vertical-align: baseline;
    color: rgba(0,0,0,.3);
    white-space: normal;
  }

  .button-light {
    color: rgba(255,255,255,.65);
  }

  .button-unblock {
    background: #cc5454;
    border-color: #cc5454;
    color: #fff;
  }

  .button-with-hover > .button-default-state {
    display: inline;
  }

  .button-with-hover > .button-hover-state {
    display: none;
  }

  .button-set > .button-chromeless+.button,
  .button-set > .button-set-inner+.button-chromeless,
  .button-set > .button-set-separator+.button {
     margin-left: 8px;
  }

  .button > .button-active-state {
    display: none;
  }

  .button-primary {
    color: #00ab6b;
    border-color: #02b875;
  }
}