#title-editor {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title-editor iframe {
  height: 45px !important;
  overflow: hidden;
}

body {
  padding: 0;
}

.editor-container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #444;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

