/* ====================== VARIABLES ========================= */

$font-family: 'Lato', sans-serif;
$btn-default-radius: 2px;

$color-white: #fff;
$color-black: rgba(1,1,1,1);
$color-orange: #3f6169;
$color-light-blue: #4285f4;
$color-blue: #5492ce;
$color-dark-blue: #3D505F;

// Accent colors
$color-cyan-dark: #54828c;
$color-cyan-light: #76b7c6;
$color-cyan-dirty: #8f9da0;
$color-cyan-dirty-light: #b1c2c6;
$color-celeste: #99edff;
$color-brown-light: #f2ab30;
$color-brown: #bf9c60;
$color-brown-dark: #998d82;
$color-mustard: #c9cf23;
$color-mustard-light: #c9cf23;

/* ====================== MEDIA QUERIES HELPERs ========================= */
// see: http://include-media.com/documentation/

@import "include-media";

/* ====================== SPECIAL ========================= */

@include media('>=phone', '<tablet', 'portrait') {
  .hidden-xs-portrait {
    display: none;
  }
}

/* ====================== MIXINS ========================= */

@mixin transition($trans: background .5s ease){
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

@mixin xtransform($trans){
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -o-transform: $trans;
  -ms-transform: $trans;
  transform: $trans;
}

@mixin slideIn($trans: translateX(-480px)){
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -o-transform: $trans;
  transform: $trans;
}

@mixin opacity($val){
  filter: alpha(opacity=$val * 100);
  -ms-filter: "alpha(Opacity=" + $val * 100 + ")";
  opacity: $val;
}

@mixin scale($val) {
  -webkit-transform: scale($val);
  -moz-transform: scale($val);
  -o-transform: scale($val);
  -ms-transform: scale($val);
  transform: scale($val);
}

/* ====================== ANIMATIONS ========================= */

.animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.fade-in-down {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated.fade-in-up {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0.00% {
    opacity:0;
    -webkit-transform:translateY(-20px);
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0.00% {
    opacity:0;
    -moz-transform:translateY(-20px);
  }

  100% {
    opacity:1;
    -moz-transform:translateY(0);
  }
}

@-o-keyframes fadeInDown{
  0.00% {
    opacity:0;
    -o-transform: translateY(-20px);
  }

  100% {
    opacity:1;
    -o-transform:translateY(0);
  }
}

@keyframes fadeInDown{
  0.00% {
    opacity:0;
    transform: translateY(-20px);
  }

  100% {
    opacity:1;
    transform: translateY(0);
  }
}

/* fade up */

@-webkit-keyframes fadeInUp {
  0.00% {
    opacity:0;
    -webkit-transform:translateY(20px);
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0.00% {
    opacity:0;
    -moz-transform:translateY(20px);
  }

  100% {
    opacity:1;
    -moz-transform:translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0.00% {
    opacity:0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity:1;
    -o-transform:translateY(0);
  }
}

@keyframes fadeInUp {
  0.00% {
    opacity:0;
    transform: translateY(20px);
  }

  100% {
    opacity:1;
    transform: translateY(0);
  }
}

/* rotate */

@-webkit-keyframes rotate {
  from { -webkit-transform: scale(1) rotate(0deg); }
  to   { -webkit-transform: scale(1) rotate(360deg); }
}

@-moz-keyframes rotate {
  from { -moz-transform: scale(1) rotate(0deg); }
  to   { -moz-transform: scale(1) rotate(360deg); }
}

@-o-keyframes rotate {
  from { -o-transform: scale(1) rotate(0deg); }
  to   { -o-transform: scale(1) rotate(360deg); }
}

@keyframes rotate {
  from { transform: scale(1) rotate(0deg); }
  to   { transform: scale(1) rotate(360deg); }
}
