body.terms {
  background-color: #fff;

  header {
    #login-buttons {
      margin: 20px 0;
    }
  }

  .without-padding {
    padding: 0;
  }

  .hero {
    margin: 70px 0 0 0;
    padding: 0;
    color: #fff;
    text-align: center;

    .hero-wrapper {
      position: relative;
    }

    .hero-inner {
      padding-top: 20px;
      height: 120px;
      position: relative;
      overflow: hidden;
    }
  }

  .hero-plain {
    background: #242424 url(/assets/backgrounds/cartographer.png) top left repeat;
  }

  /* for high resolution display */
  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .hero-plain {
      background-size: 250px 250px !important;
    }
  }

  .hero-secondary {
    background: #242424 url(/assets/backgrounds/cartographer.png) top left repeat;
    background: -webkit-linear-gradient(180deg, rgba(63, 97, 105, 0) 0%, rgba(63, 97, 105, 0.4) 50%, rgba(63, 97, 105, 0.9) 100%), url(/assets/backgrounds/cartographer.png) top left repeat;
    background: linear-gradient(180deg, rgba(63, 97, 105, 0) 0%, rgba(63, 97, 105, 0.4) 50%, rgba(63, 97, 105, 0.9) 100%), url(/assets/backgrounds/cartographer.png) top left repeat;
    background-color: #242424;
  }

  .content-block {
    padding: 60px 0;

    article {
      font-size: 20px;

      h1, h2, h3, h4, h5, h6 {
        font-family: inherit;
        margin-top: 1.6em;
        margin-bottom: 20px;
        font-weight: bold;

        &:first-child {
          margin-top: 0;
        }
      }

      p {
        margin-bottom: 1.4em;
        line-height: 1.5em;
        text-align: justify;
      }

      li {
        margin-bottom: 1.4em;
        line-height: 1.5em;
      }
    }

    .terms-sidenav {
      &.affix {
        position: relative;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          border-bottom: 1px solid #f7f7f7;
          text-transform: uppercase;
          line-height: 28px;

          a {
            padding: 0 20px;
            line-height: 49px;
            color: #7b8386;
            display: block;
            font-size: 14px;

            text-decoration: none;
          }

          .active {
            font-weight: 700;
            font-style: normal;
            color: #322f31;
          }
        }

      }
    } /* terms-sidenav */
  } /* content-block */
}