/* ====================== FONTS ========================= */

/* PT Serif */
@import url('//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic');

/* Lato-Light */
// @import url('//fonts.googleapis.com/css?family=Lato:200,700,300');

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), font-url('IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), font-url('22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), font-url('rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), font-url('MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// @import url('//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css');

/* ====================== VARIABLES ========================= */

$color-white:#fff;
$color-orange: #3f6169; /* #F1784D; */
$color-light-blue: #4285f4;
$color-blue: #5492ce;
$color-dark-blue: #3D505F;
$font-family: 'Lato', sans-serif;
$btn-default-radius: 2px;

/* ====================== MIXINS ========================= */

@mixin transition($trans:background .5s ease){
  -webkit-transition:$trans;
  -moz-transition:$trans;
  -o-transition:$trans;
  transition:$trans;
}

@mixin slideIn($trans: translateX(-480px)){
  -webkit-transform:$trans;
  -moz-transform:$trans;
  -o-transform:$trans;
  transform:$trans;
}

/* ====================== ANIMATIONS ========================= */

.animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.fade-in-down {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated.fade-in-up {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity:0;
    -webkit-transform:translateY(-20px);
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity:0;
    -moz-transform:translateY(-20px);
  }

  100% {
    opacity:1;
    -moz-transform:translateY(0);
  }
}

@-o-keyframes fadeInDown{
  0% {
    opacity:0;
    -o-transform: translateY(-20px);
  }

  100% {
    opacity:1;
    -o-transform:translateY(0);
  }
}

@keyframes fadeInDown{
  0% {
    opacity:0;
    transform: translateY(-20px);
  }

  100% {
    opacity:1;
    transform: translateY(0);
  }
}

/* fade up */

@-webkit-keyframes fadeInUp {
  0% {
    opacity:0;
    -webkit-transform:translateY(20px);
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity:0;
    -moz-transform:translateY(20px);
  }

  100% {
    opacity:1;
    -moz-transform:translateY(0);
  }
}

@-o-keyframes fadeInUp{
  0% {
    opacity:0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity:1;
    -o-transform:translateY(0);
  }
}

@keyframes fadeInUp{
  0% {
    opacity:0;
    transform: translateY(20px);
  }

  100% {
    opacity:1;
    transform: translateY(0);
  }
}
