/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require lato
 *= require chosen
 *= require select2
 *= require select2-bootstrap
 *= require quill.base
 *= require quill.snow
 *= require nprogress
 *= require bootstrap-colorpicker
 *= require bootstrap-slider
 *= require include-media
 *= require web/setup
 *= require_self
 *= require_tree ./devise
 *= require_tree ./web
 */
@import 'web/setup';

.navbar-toggle {
  font-family: 'Glyphicons Halflings' !important;
}

.content {
  padding-top: 65px;
}

.navbar-brand {
  background: transparent image-url('voyzes-logo-life.png') no-repeat;
  width: 100px;
}

/* template layout */
#subnav {
  position:fixed;
  width:100%;
}

@media (max-width: 768px) {
  #subnav {
    padding-top: 6px;
  }
}

#main {
  padding-top:120px;
}

.modal {
  &.alert-modal, &.confirm-modal {
    .modal-body {
      font-size: 26px;
    }
  }
}

.simply-toast {
  padding: 15px;
  border-radius: $btn-default-radius;
  border-width: 0px;

  .close {
    margin-left: 4px;
    font-size: 18px;
  }
}
