/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require chosen
 *= require select2
 *= require select2-bootstrap
 *= require quill.base
 *= require quill.snow
 *= require bootstrap-colorpicker
 *= require_self
 *= require_tree ./devise
 *= require_tree ./web
 */

@import 'application-custom';

.navbar-toggle {
  font-family: 'Glyphicons Halflings' !important;
}

.content {
  padding-top: 65px;
}

.navbar-brand {
  background: transparent url(/assets/voyzes-logo-life.png) no-repeat;
  width: 100px;
}

/* ====================== HEADER ========================= */

@import 'application-header';

header {
  #logo {
    background: url(/assets/voyzes-logo.png) no-repeat 0 0;
  }
}

/* ====================== THEME ========================= */

/* to optimize performance load fonts from LINK in HEAD */
/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
  background-color:#e0e0e0;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  font-weight: normal;
  font-size: 14px;
}

footer {
  font-family: $font-family;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, input {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
}

.navbar-default {
  background-color: #f4f4f4;
  margin-top:50px;
  border-width:0;
  z-index:5;
}
.header-container {
  background-color: #f1f1f1;
}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li:hover > a {
  border:0 solid #4285f4;
  border-bottom-width:2px;
  font-weight:800;
  background-color:transparent !important;
}
.navbar-default .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .dropdown-menu li > a {
  padding-left:30px;
}
.header {
  background-color: #f1f1f1;
  border-width: 0;
}
.header .navbar-collapse {
  background-color: #f1f1f1;
}

.btn, .form-control, .panel, .list-group, .well {
  border-radius: $btn-default-radius;
  box-shadow: 0 0 0;
  border-width: 1px;
}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:3px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.well,.panel {border-color:#d2d2d2;box-shadow:0 1px 0 #cfcfcf;border-radius:3px;}
.btn-success,.label-success,.progress-bar-success{background-color:#65b045;}
.btn-info,.label-info,.progress-bar-info{background-color:#a0c3ff;border-color:#a0c3ff;}
.btn-danger,.label-danger,.progress-bar-danger{background-color:#dd4b39;}
.btn-warning,.label-warning,.progress-bar-warning{background-color:#f4b400;color:#444444;}
.btn-flat-plain {border-color: #ccc;}
.badge-warning {background-color:#f4b400;color:#444444;}

hr {border-color:#ececec;}

button {
  outline: 0;
}
textarea {
  resize: none;
  outline: 0;
}
.panel .btn i,.btn span{
  color:#666666;
}
.panel .panel-heading {
  background-color:#ffffff;
  font-weight:700;
  font-size:16px;
  color:#262626;
  border-color:#ffffff;
}
.panel .panel-heading a {
  font-weight:400;
  font-size:11px;
}
.panel .panel-default {
  border-color:#cccccc;
}
.panel .panel-thumbnail {
  padding:0;
}
.panel .img-circle {
  width:50px;
  height:50px;
}
.list-group-item:first-child,.list-group-item:last-child {
  border-radius:0;
}
h3,h4,h5 {
  xborder:0 solid #efefef;
  xborder-bottom-width:1px;
  xpadding-bottom:10px;
}

.modal-dialog {
  width: 450px;
}

.modal-footer {
  border-width:0;
}

.help-block {
  font-size: 0.8em;
}
/* end theme styles */

/* template layout */
#subnav {
  position:fixed;
  width:100%;
}

@media (max-width: 768px) {
  #subnav {
    padding-top: 6px;
  }
}

#main {
  padding-top:120px;
}

.modal {
  &.alert-modal, &.confirm-modal {
    .modal-body {
      font-size: 26px;
    }
  }
}

.simply-toast {
  padding: 15px;
  border-radius: $btn-default-radius;
}
