/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require lato
 *= require merriweather
 *= require chosen
 *= require select2
 *= require select2-bootstrap
 *= require quill.base
 *= require quill.snow
 *= require nprogress
 *= require lib/intro.js/introjs
 *= require bootstrap-colorpicker
 *= require bootstrap-slider
 *= require include-media
 *= require web/setup
 *= require_self
 *= require_tree ./devise
 *= require_tree ./web
 */
 @import 'web/setup';

 .navbar-toggle {
  font-family: 'Glyphicons Halflings' !important;
}

.content {
  padding-top: 65px;
}

.navbar-brand {
  background: transparent image-url('voyzes-logo-life.png') no-repeat;
  width: 100px;
}

/* template layout */
#subnav {
  position:fixed;
  width:100%;
}

@media (max-width: 768px) {
  #subnav {
    padding-top: 6px;
  }
}

#main {
  padding-top:120px;
}

.modal {
  &.alert-modal, &.confirm-modal {
    .modal-body {
      font-size: 26px;
    }
  }
}

.simply-toast {
  padding: 15px;
  border-radius: $btn-default-radius;
  border-width: 0px;

  .close {
    margin-left: 4px;
    font-size: 18px;
  }
}

// Fix modal on iPhone
// http://stackoverflow.com/questions/12067802/modal-box-on-iphone-no-scroll/12084582#12084582
@media (max-width: 480px) {
  .modal {
    height: 500px; /* Set a default max height of the modal (adjusted later)*/
    position: fixed; /* Display modal in the centre of your screen */
    overflow-y: scroll; /*  Ensure that the modal is scroll-able */
    -webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS    */

    &.fade.in {
      top: 5px; /* Use more screen real estate */
    }
  }

  .modal-body {
    /* Increase the max height of the modal body to try & avoid both it,
    * and the modal container having scroll bars which results in odd behavior */
    max-height: 2400px;
  }
}

@include media('>=phone', '<tablet', 'portrait') {
  .modal-content {
    max-width: 395px;
  }
}

/* Now adjust the height so it handles various screen sizes & orientations */
/* You could make this as granular as you like, or have it more granular at common screen sizes
 * but it should start at the height we set on .modal (i.e. 500px) & work down */
@media (max-width: 480px) and (max-height: 500px){.modal{ height: 450px}}
@media (max-width: 480px) and (max-height: 450px){.modal{ height: 400px}}
@media (max-width: 480px) and (max-height: 400px){.modal{ height: 350px}}
@media (max-width: 480px) and (max-height: 350px){.modal{ height: 300px}}
@media (max-width: 480px) and (max-height: 300px){.modal{ height: 250px}}
@media (max-width: 480px) and (max-height: 250px){.modal{ height: 200px}}
@media (max-width: 480px) and (max-height: 200px){.modal{ height: 150px}}

