/*
 *= require bootstrap
 *= require font-awesome
 *= require lato
 *= require web/page_header
 *= require web/button
 *= require diecisiete/diecisiete-styles
 *= require_self
 */

@import 'web/setup';

body.pages {
  background-color: $color-black;

  .modal-dialog {
    margin: 0px;
    width: auto;
    height: auto;
  }

  .modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;

    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 0px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  #main {
    #siri-wave {
      display: block;
      height: 100%;
      width: 100%;
      margin-top: 85px;
      overflow: hidden;
    }

    .right-aligned {
      height: 450px;
    }

    .center-aligned {
      height: 450px;
    }

    .cont-gradient {
      //border-top: 1px solid rgba(84,130,140, 0.1);
      border-bottom: 1px solid rgba(84,130,140, 0.1);
      position: absolute;
      top: 230px;
      left: 0;
      right: 0;
      height: 170px;
      background: transparent -webkit-linear-gradient(90deg, rgba(84, 130, 140, 0) 0%, rgba(84, 130, 140, 0.2) 50%, rgba(84, 130, 140, 0.6) 100%);
      background: linear-gradient(90deg, rgba(84, 130, 140, 0) 0%, rgba(84, 130, 140, 0.2) 50%, rgba(84, 130, 140, 0.6) 100%);
      background-color: transparent;
    }

    .cont-wrapper {
      position: relative;
      top: 230px;
      right: 50px;
      width: 100%;
    }

    .actions {

      .our-story-play {
        margin: auto;
        width: 248px;
        height: 140px;
        margin-top: 24px;
        background: image-url('diecisiete/our-story-play.jpg');
        cursor: pointer;
        box-shadow: 0 20px 36px rgba(0,0,0,0.6);
        border-radius: 4px;

        .circle-block {
          text-align: center;
          height: 100%;
          white-space: nowrap;
        }

        .circle-block:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          // margin-right: -0.25em;
        }

        .circle-centered {
          display: inline-block;
          vertical-align: middle;
          color: $color-white;
          border-top-left: 10px solid rgba(93,141,153,.8);
          border-bottom-right: 10px solid rgba(118,183,198,.8);
          background-color: rgba(118,183,198,.8);
          width: 100px;
          height: 100px;
          border-radius: 300px;
        }

        .i-block {
          position: relative;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          height: 100%;
          white-space: nowrap;
        }

        .i-block:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          // margin-right: -0.25em;
        }

        .i-centered {
          display: inline-block;
          vertical-align: middle;
          font-size: 80px;
          color: $color-white;
          line-height: 100%;
        }
      }

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        .our-story-play {
          background: image-url('diecisiete/our-story-play@2x.jpg');
          background-size: 100%;
        }
      }

      .play-wrapper {
        display: inline;
        float: left;
        width: 50%;
        text-align: center;
        line-height: 50px;
        margin: 30px 0;

        .c2a-button {
          color: #fff;
          background-color: transparent;
          border: 5px solid $color-white;
          border-radius: 5px;

          &:hover {
            background-color: #fff;
            xborder: 3px solid $color-light-blue;
            color: #8A6847;
            text-decoration: none;
            @include transition(background-color .2s ease);
          }
        }

        .c2a-button.youtube {
          padding: 26px 28px;
          border-radius: 100%;
          font-size: 35px;

          i {
            padding: 0 0 0 3px;
          }
        }
      } /* .play-wrapper */

      .registration-form, .registration-success {
        display: inline;
        float: left;
        width: 50%;
        margin: auto 0;

        h4 {
          margin: 0 0 10px 0;
          font-size: 18px;
          line-height: 1.4em;
          color: #ddd;
          font-weight: 600;
        }


        .form-group {
          input {
            padding: 20px 10px;
            border: 0;
            border-top-left-radius: $btn-default-radius;
            border-bottom-left-radius: $btn-default-radius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          ::-webkit-input-placeholder {
            color: #333;
          }

          :-moz-placeholder { /* Firefox 18- */
            color: #333;
          }

          ::-moz-placeholder {  /* Firefox 19+ */
            color: #333;
          }

          :-ms-input-placeholder {
            color: #333;
          }

          .input-group {
            border: 0;
            @include transition(opacity 1s ease);
            opacity: 0.3;

            &:hover {
              opacity: 0.9;
            }

            .input-group-addon {
              border: 0;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: $btn-default-radius;
              border-bottom-right-radius: $btn-default-radius;
              padding: 5px 10px 6px 10px;

              .btn-submit {
                border-radius: 100%;
                padding: 5px;
              }
            }
          }

          .error-block {}

          &.has-error {
            input {
              border-color: red;
            }

            p.help-block {
              line-height: 26px;
              font-size: 16px;
              margin: 5px 0 0px 0;
              color: red;
            }
          }
          &.has-success {
            input {
            }
          }
        }

        .social-container {
          margin: 0 0 5px 0;
          overflow: hidden;

          p {
            font-size: 12px;
            font-weight: normal;
            line-height: 1.4em;
            margin: 0 0 5px 0;
            color: #aaa;
          }

          ul.social-networks {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;

            li {
              display: inline-block;
              vertical-align: middle;
              xmargin: 0 -3px 0 0;
              border: 0;
              padding: 0;

              a {
                width: 36px;
                height: 36px;
                line-height: 36px;
                min-width: 36px;
                display: block;
                overflow: hidden;
                color: #fff;
                white-space: nowrap;
                text-decoration: none;
                text-align: center;
                font-size: 18px;
                outline: 0;
              }

              &.facebook {
                a {
                  background-color: #2f609c;

                  &:hover {
                    background-color: #295488;
                  }
                }
              }

              &.twitter {
                a {
                  background-color: #55acee;

                  &:hover {
                    background-color: #3ea1ec;
                  }
                }
              }

              &.linkedin {
                a {
                  background-color: #0074a1;

                  &:hover {
                    background-color: #006288;
                  }
                }
              }

              &.email {
                background-color: #089e00;

                &:hover {
                  background-color: #078500;
                }
              }
            }
          }
        } /* .social-container */
      } /* .registration-form, .registration-success */

      .registration-success {
        display: none;
      }
    }

    p.intro {
      text-align: right;
      text-transform: uppercase;
      font-size: 34px;
      font-weight: 300;
      text-shadow: none;
      line-height: 1.6em;
      letter-spacing: 0px;


      i {
        text-transform: none;
        letter-spacing: 0;
        display: block;
        font-style: normal !important;
        font-size: 20px;
      }
    }

    @media (max-width: 768px) {
      .cont-gradient {
        top: 180px;
      }

      .cont-wrapper {
        top: 180px;
        right: 20px;
      }

      p.intro {
        font-size: 30px;
      }
    }

    @media (max-width: 480px) {
      .cont-gradient {
        top: 130px;
      }

      .cont-wrapper {
        top: 130px;
        right: 0px;
      }

      p.intro {
        font-size: 24px;
      }
    }
  } /* #main */

  #gallery {
    overflow: hidden;
    width: 100%;
    height: 500px;
    position: relative;
    background: image-url('diecisiete/home-gallery.jpg') repeat-x;
    background-position: center;
    background-size: cover;
    background-color: $color-white;

    .bottom-line {
      width: 100%;
      height: 1px;
      position: absolute;
      top: 67px;
      background: rgba(0,0,0,0.05);
    }

    .inner-shadow {
      width: 100%;
      height: 58px;
      position: absolute;
      z-index: 1000;
      bottom: 0;
      background: image-url('diecisiete/home-gallery-inner-shadow.png');
    }

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      .home-gallery .inner-shadow {
        background: image-url('diecisiete/home-gallery-inner-shadow@2x.png') repeat-x;
        background-size: auto 100%;
      }
    }

    .navigation {
      max-width: 960px;
      height: 68px;
      position: relative;
      z-index: 2;
      margin: auto;

      .item, .item-selected {
        display: table;
        width: 33.3%;
        height: 100%;
        float: left;
        font-size: 16px;
        color: #aaa;
        cursor: pointer;

        div {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          position: relative;
          top: 2px;
        }
      } /* .item */

      .item-selected {
        font-weight: 700;
        color: #444;
        cursor: auto !important;
      }

      .selector {
        width: 33.3%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color-cyan-light;
      }
    } /* .navigation */

    .dots-navigation {
      display: none;
      width: 84px;
      height: 44px;
      position: relative;
      z-index: 50;
      margin: auto;
      margin-top: 20px;

      .dot-off {
        width: 28px;
        height: 44px;
        float: left;
        cursor: pointer;
        background: url(images/dot-off.png);
      }

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        .home-gallery .dots-navigation .dot-off {
          background: url(images/dot-off@2x.png);
          background-size: 100%;
        }
      }

      .dot-on {
        width: 28px;
        height: 44px;
        float: left;
        background: url(images/dot-on.png);
      }

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        .home-gallery .dots-navigation .dot-on {
          background: url(images/dot-on@2x.png);
          background-size: 100%;
        }
      }
    } /* .dots-navigation */

    .slide {
      display: none;
      width: 100%;
      position: absolute;
      bottom: -4px;
      text-align: center;
      text-decoration: none;

      &.slide-selected {
        display: block;
      }

      h2 {
        width: 90%;
        margin: auto;
        text-align: center;
        font-weight: 300;
        font-size: 40px;
        color: #444;
      }

      p {
        margin-top: 1em;
        margin-bottom: 1em;
        // -webkit-margin-before: 1em;
        // -webkit-margin-after: 1em;
        // -webkit-margin-start: 0px;
        // -webkit-margin-end: 0px;
        display: block;
        width: 100%;
        top: 38px;
        font-size: 20px;
        color: #aaa;
        text-align: center;
        z-index: 10;
        font-weight: 300;
      }

      img {
        position: relative;
        width: 840px;
        margin: auto;
        height: auto;
      }

      @include media('>=phone', '<tablet', 'portrait') {
        h2 {
          font-size: 30px;
        }

        p {
          font-size: 17px;
        }
      }
    }

  } /* #gallery */

  #parallax {
  } /* #parallax */

  #contact {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 60px;
    background-color: #fafafa;

    .social {
      width: 132px;
      height: 44px;
      margin: auto;

      a {
        display: block;
        width: 44px;
        height: 44px;
        float: left;
        font-size: 30px;
        color: #000;
      }
    } /* .social */

    p {
      font-size: 18px;
      font-weight: 300;
      color: #888;
      text-align: center;
      margin-top: 10px;
      display: block;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }

    .form {
      display: none;
      text-align: center;
      max-width: 490px;
      margin: auto;
      margin-top: 0em;

      input[type="text"], textarea {
        width: 460px;
        padding: 15px;
        position: relative;
        border: 0;
        outline: none;
        background: rgba(0,0,0,0.05);
        border-radius: 4px;
        font-size: 20px;
        color: #666;
        font-weight: 300;
      }

      textarea {
        height: 100px;
        xfont-size: 16px;
        resize: none;
      }

      label {
        display: block;
        text-align: left;
        font-size: 15px;
        color: #666;
        margin-bottom: 10px;
      }
    } /* .form */

    .button {
      display: block;
      width: 140px;
      overflow: hidden;
      margin: auto;
      margin-top: 16px;
      background: $color-cyan-light;
      border-color: $color-cyan-light;
      color: rgba(240, 240, 240, 0.8);
      font-size: 18px;
      text-align: center;
      cursor: pointer;
    }

  } /* #contact */
} /* pages */
