/*
 *= require bootstrap
 *= require diecisiete/diecisiete-styles
 *= require font-awesome
 *= require lato
 *= require_self
 */

@import 'web/setup';

body.pages {
  &.load-header-contrast {
    header {
      background-color: rgba(0, 0, 0, 0.7) !important;
    }
  }

  &.selected-main-item {
    header {
      background-color: transparent;
      @include transition(background-color .2s ease);

      nav .navbar-nav li {
        background-color: transparent !important;
      }
    }
  }

  h1, #our-team h2, ul.nav {
    text-transform: uppercase;
  }

  ul.nav {
    padding-left: 0;
  }

  .modal-dialog {
    margin: 0px;
    width: auto;
    height: auto;
  }

  .modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;

    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 0px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  #main {
    .cont-gradient {
      position: absolute;
      top: 230px;
      left: 0;
      right: 0;
      height: 170px;
      background: transparent -webkit-linear-gradient(90deg, rgba(63, 98, 105, 0) 0%, rgba(63, 98, 105, 0.1) 50%, rgba(63, 98, 105, 0.6) 100%);
      background: linear-gradient(90deg, rgba(63, 98, 105, 0) 0%, rgba(63, 98, 105, 0.1) 50%, rgba(63, 98, 105, 0.6) 100%);
      background-color: transparent;
    }

    .cont-wrapper {
      position: relative;
      top: 230px;
      right: 50px;
      width: 100%;
    }

    .actions {

      .play-wrapper {
        display: inline;
        float: left;
        width: 50%;
        text-align: center;
        line-height: 50px;
        margin: 30px 0;

        .c2a-button {
          color: #fff;
          background-color: transparent;
          border: 5px solid $color-white;
          border-radius: 5px;

          &:hover {
            background-color: #fff;
            xborder: 3px solid $color-light-blue;
            color: #8A6847;
            text-decoration: none;
            @include transition(background-color .2s ease);
          }
        }

        .c2a-button.youtube {
          padding: 26px 28px;
          border-radius: 100%;
          font-size: 35px;

          i {
            padding: 0 0 0 3px;
          }
        }
      } /* .play-wrapper */

      .registration-form, .registration-success {
        display: inline;
        float: left;
        width: 50%;
        margin: auto 0;

        h4 {
          margin: 0 0 10px 0;
          font-size: 18px;
          line-height: 1.4em;
          color: #ddd;
          font-weight: 600;
        }


        .form-group {
          input {
            padding: 20px 10px;
            border: 0;
            border-top-left-radius: $btn-default-radius;
            border-bottom-left-radius: $btn-default-radius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          ::-webkit-input-placeholder {
            color: #333;
          }

          :-moz-placeholder { /* Firefox 18- */
            color: #333;
          }

          ::-moz-placeholder {  /* Firefox 19+ */
            color: #333;
          }

          :-ms-input-placeholder {
            color: #333;
          }

          .input-group {
            border: 0;
            @include transition(opacity 1s ease);
            opacity: 0.3;

            &:hover {
              opacity: 0.9;
            }

            .input-group-addon {
              border: 0;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: $btn-default-radius;
              border-bottom-right-radius: $btn-default-radius;
              padding: 5px 10px 6px 10px;

              .btn-submit {
                border-radius: 100%;
                padding: 5px;
              }
            }
          }

          .error-block {}

          &.has-error {
            input {
              border-color: red;
            }

            p.help-block {
              line-height: 26px;
              font-size: 16px;
              margin: 5px 0 0px 0;
              color: red;
            }
          }
          &.has-success {
            input {
            }
          }
        }

        .social-container {
          margin: 0 0 5px 0;
          overflow: hidden;

          p {
            font-size: 12px;
            font-weight: normal;
            line-height: 1.4em;
            margin: 0 0 5px 0;
            color: #aaa;
          }

          ul.social-networks {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;

            li {
              display: inline-block;
              vertical-align: middle;
              xmargin: 0 -3px 0 0;
              border: 0;
              padding: 0;

              a {
                width: 36px;
                height: 36px;
                line-height: 36px;
                min-width: 36px;
                display: block;
                overflow: hidden;
                color: #fff;
                white-space: nowrap;
                text-decoration: none;
                text-align: center;
                font-size: 18px;
                outline: 0;
              }

              &.facebook {
                a {
                  background-color: #2f609c;

                  &:hover {
                    background-color: #295488;
                  }
                }
              }

              &.twitter {
                a {
                  background-color: #55acee;

                  &:hover {
                    background-color: #3ea1ec;
                  }
                }
              }

              &.linkedin {
                a {
                  background-color: #0074a1;

                  &:hover {
                    background-color: #006288;
                  }
                }
              }

              &.email {
                background-color: #089e00;

                &:hover {
                  background-color: #078500;
                }
              }
            }
          }
        } /* .social-container */
      } /* .registration-form, .registration-success */

      .registration-form {
      }

      .registration-success {
        display: none;
      }
    }

    p.intro {
      text-align: right;
      text-transform: uppercase;
      font-size: 34px;
      font-weight: 300;
      text-shadow: none;
      line-height: 1.6em;
      letter-spacing: 0px;


      i {
        text-transform: none;
        letter-spacing: 0;
        display: block;
        font-style: normal !important;
        font-size: 20px;
      }
    }

    @media (max-width: 768px) {
      .cont-gradient {
        top: 180px;
      }

      .cont-wrapper {
        top: 180px;
        right: 20px;
      }

      p.intro {
        font-size: 30px;
      }
    }

    @media (max-width: 480px) {
      .cont-gradient {
        top: 130px;
      }

      .cont-wrapper {
        top: 130px;
        right: 0px;
      }

      p.intro {
        font-size: 24px;
      }
    }
  } /* #main */

  #home {
    .container {
      .row {
        .text {
          ul {
            padding-left: 0;
            list-style-type: none;

            li {
              font-size: 20px;
              margin: 20px 0;
            }
          }
        }
      }
    }
    .text {
      padding-left: 50px;
    }
    .ipad {
      padding: 0;
      right: 0;
    }
  } /* #home */

  #parallax {
    h2 {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0px;
      margin-top: 95px;
    }
  }

  #work {
    .caption {
      p {
        font-size: 18px;
        line-height: 1.4em;
      }
    }

    button.btn-circle {
      width: 130px;
      height: 130px;
      text-align: center;
      padding: 20px 0;
      font-size: 1.5em;
      color: #fff;
      line-height: 1.42;
      border-radius: 100%;
      background-color: #353535;
      /*
      background-image: -webkit-gradient(
        linear, left top, left bottom, from(rgba(50,50,50,0.8)),
        to(rgba(80,80,80,0.2)), color-stop(.5,#333333)
      );
      */
      background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(52, 52, 52, 1)); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(52, 52, 52, 1)); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(52, 52, 52, 1)); /* For Firefox 3.6 to 15 */
      background: linear-gradient(rgba(200, 200, 200, 1), rgba(52, 52, 52, 1)); /* Standard syntax */

      i {
        font-size: 2em;
        margin: 0;
      }
    }
  }

  #our-team {
    .staff-row {
      margin-bottom: 50px;
    }

    .about-intro {
      margin-bottom: 20px;
    }
  }
}
