/*
 *= require bootstrap
 *= require font-awesome
 *= require lato
 *= require web/page_header
 *= require web/button
 *= require diecisiete/diecisiete-styles
 *= require_self
 */

@import 'web/setup';

body.pages {
  background-color: $color-black;

  /*--- typed.js ---*/

  .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }

  @keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  }

  /*--- ScrollHeader.js ---*/

  header.page-header {
    nav {
      transition: top 0.1s ease-in-out;
    }
  }

  header.page-header.nav-up {
    top: -70px;

    nav {
      top: -70px;
    }
  }

  /*--- SlideMenu.js ---*/

  .slide-active {
    overflow-x: hidden
  }

  .no-margin-top {
    margin-top: 0px!important
  }

  .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 10px 0 !important;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
    overflow-x: hidden;
    z-index: 3;
    border-radius: 0;

    &:hover,
    &:active {
      background: transparent;
    }

    &.slide-active .burger-menu {
      background-color: transparent;
    }

    &.slide-active .burger-menu:before,
    &.slide-active .burger-menu:after {
      top: 0;
    }

    &.slide-active .burger-menu:before {
      transform: rotate(315deg);
    }

    &.slide-active .burger-menu:after {
      transform: rotate(-315deg);
    }

    .burger-menu,
    .burger-menu:before,
    .burger-menu:after {
      cursor: pointer;
      height: 3px;
      width: 23px;
      background: white;
      position: absolute;
      display: block;
      content: '';
      transition: all 250ms ease-in-out;
    }

    .burger-menu:before {
      top: -10px;
    }

    .burger-menu:after {
      bottom: -10px;
    }
  }

  .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
  }

  .navbar-toggle.slide-active .icon-bar {
    background: orange;
  }

  .navbar-header {
    position: relative;
  }

  #content {
    position: relative;
    padding-top: 0;
    right: 0;
  }

  // todo
  .navbar.navbar-fixed-top.slide-active {
    position: relative;
  }

  @media (max-width:767px) {
    header.page-header {
      .container {
        margin: 0;
        padding: 0 !important;
      }

      .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
      }

      &.slide-active {
        // position: absolute;
        // width: 245px; // 50%;
        // top: -1px;
        // z-index: 1000;
      }

      #slidemenu {
        background: transparent;
        right: -100%;
        width: 245px; // 50%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: 0px;
        margin: 0;

        ul.nav {
          min-width: 0;
          width: 100%;
          margin: 0;
          margin-left: 5px;
          text-transform: none;
          padding-top: 0;

          .dropdown-menu li a {
            min-width: 0;
            // width: 80%;
            white-space: normal;
          }

          li:first-child {
            height: 70px;
          }

          li {
            height: 50px;
          }
        }

        .nav > li {
          position: relative;
          display: block;
          clear:both;
        }
      } /* #slidemenu */

      /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
      #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 245px; // 50%;
        right: -245px; // -50%;
        background: #111;
        z-index: 1000;
      }

      .navbar-inverse #navbar-height-col {
        z-index: 1;
        border: 0;
      }
    } /* header.page-header */
  }

  @media (min-width:768px) {
    #content {
      left: 0 !important;
    }

    .navbar-fixed-top.slide-active {
      position: fixed;
    }

    .navbar-header {
      left: 0 !important;
    }

    header.page-header {
      #slidemenu {
        display: none;

        &.slide-active {

        }
      }
    }
  }

  /*--- YoutubeModal ---*/

  .modal-dialog {
    margin: 0px;
    width: auto;
    height: auto;
  }

  .modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;

    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 0px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  /*** main ***/
  #main {
    .credits {
      position: absolute;
      right: 0;
      bottom: 0;
      color: rgba(255,255,255,.4);
      font-size: 12px;
      font-weight: 300;
      text-align: right;
      // margin: 0 15px;
      padding: 5px 10px;

      i {
        color: rgba(255,255,255,.25);
        margin-right: 4px;
      }

      a {
        color: rgba(255,255,255,.4);
        text-decoration: none;
        &:hover, &:active {
          color: rgba(255,255,255,.5);
        }
      }
    }

    #siri-wave {
      display: block;
      height: 100%;
      width: 100%;
      margin-top: 85px;
      overflow: hidden;
    }

    .right-aligned {
      height: 450px;
    }

    .center-aligned {
      height: 450px;
    }

    .content-gradient {
      //border-top: 1px solid rgba(84,130,140, 0.1);
      border-bottom: 1px solid rgba(84,130,140, 0.1);
      position: absolute;
      top: 200px;
      left: 0;
      right: 0;
      height: 170px;
      background: transparent -webkit-linear-gradient(90deg, rgba(84, 130, 140, 0) 0%, rgba(84, 130, 140, 0.2) 50%, rgba(84, 130, 140, 0.6) 100%);
      background: linear-gradient(90deg, rgba(84, 130, 140, 0) 0%, rgba(84, 130, 140, 0.2) 50%, rgba(84, 130, 140, 0.6) 100%);
      background-color: transparent;
    }

    .content-wrapper {
      position: relative;
      top: 200px;
      right: 50px;
      width: 100%;
    }

    .actions {

      .actions-stacked {
        display: block;
        width: 100%;
        margin: 25px 0 0 0;
      }

      .actions-stacked:first-child {
        margin: 45px 0 0 0;
      }

      .actions-left {
        display: inline;
        float: left;
        width: 50%;
        margin: 70px 0;
      }

      .actions-right {
        display: inline;
        float: left;
        width: 50%;
        margin: 70px 0;
      }

      .our-story-play {
        // margin: 0 auto;
        margin-left: auto;
        width: 248px;
        height: 140px;
        background: image-url('diecisiete/our-story-play.jpg');
        cursor: pointer;
        box-shadow: 0 20px 36px rgba(0,0,0,0.6);
        border-radius: 4px;
        opacity: 1;
        @include transition(opacity .2s ease);

        &:hover {
          opacity: .8;

          .circle-centered {
            background-color: rgba(118,183,198,.8);
          }
        }

        .circle-block {
          text-align: center;
          height: 100%;
          white-space: nowrap;
        }

        .circle-block:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }

        .circle-centered {
          display: inline-block;
          vertical-align: middle;
          color: $color-white;
          background-color: rgba(118,183,198,.5);
          width: 90px;
          height: 90px;
          border-radius: 300px;
          @include transition(background-color .2s ease);
        }

        .i-block {
          position: relative;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          height: 100%;
          white-space: nowrap;
        }

        .i-block:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          opacity: 1;
        }

        .i-centered {
          display: inline-block;
          vertical-align: middle;
          font-size: 80px;
          color: $color-white;
          opacity: 1;
          line-height: 100%;
        }
      } /* .our-story-play */

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        .our-story-play {
          background: image-url('diecisiete/our-story-play@2x.jpg');
          background-size: 100%;
        }
      }

      .button-set {
        margin-left: 15px;
        text-align: right;

        .button-with-chrome, .chromeless {
          color: rgba(255,255,255,.9) !important;

          &:hover {
            color: rgba(255,255,255,.99) !important;
          }
        }

        .button-sign-up, .button-more {
          font-weight: 400 !important;
          height: 65px;
          line-height: 63px;
          font-size: 28px;
          padding: 0 30px;
        }

        .button-sign-up {
          border-color: $color-mustard !important;
          background-color: $color-mustard;
        }

        .button-more {
          border-color: rgba(255, 255, 255, .6);
          background-color: transparent;
        }

        .button-set-divider {
          // border-right: 1px solid rgba(200, 200, 200, 0.25);
          margin: 18px 8px 0 4px;
          height: 30px;
          display: inline-block;
          vertical-align: top;
        }
      } /* .button-set */

      .btw {
        display: block;
        text-align: right;
        margin-right: 25px;
      }

      p {
        display: block;
        color: $color-white;
        font-size: 15px;
        font-weight: 300;
        margin-left: 45px;
        margin-top: 5px;
      }

      .registration-form, .registration-success {
        display: none;

        h4 {
          margin: 0 0 10px 0;
          font-size: 18px;
          line-height: 1.4em;
          color: #ddd;
          font-weight: 600;
        }


        .form-group {
          input {
            padding: 20px 10px;
            border: 0;
            border-top-left-radius: $btn-default-radius;
            border-bottom-left-radius: $btn-default-radius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          ::-webkit-input-placeholder {
            color: #333;
          }

          :-moz-placeholder { /* Firefox 18- */
            color: #333;
          }

          ::-moz-placeholder {  /* Firefox 19+ */
            color: #333;
          }

          :-ms-input-placeholder {
            color: #333;
          }

          .input-group {
            border: 0;
            @include transition(opacity 1s ease);
            opacity: 0.3;

            &:hover {
              opacity: 0.9;
            }

            .input-group-addon {
              border: 0;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: $btn-default-radius;
              border-bottom-right-radius: $btn-default-radius;
              padding: 5px 10px 6px 10px;

              .btn-submit {
                border-radius: 100%;
                padding: 5px;
              }
            }
          }

          .error-block {}

          &.has-error {
            input {
              border-color: red;
            }

            p.help-block {
              line-height: 26px;
              font-size: 16px;
              margin: 5px 0 0px 0;
              color: red;
            }
          }
          &.has-success {
            input {
            }
          }
        }

        .social-container {
          margin: 0 0 5px 0;
          overflow: hidden;

          p {
            font-size: 12px;
            font-weight: normal;
            line-height: 1.4em;
            margin: 0 0 5px 0;
            color: #aaa;
          }

          ul.social-networks {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;

            li {
              display: inline-block;
              vertical-align: middle;
              xmargin: 0 -3px 0 0;
              border: 0;
              padding: 0;

              a {
                width: 36px;
                height: 36px;
                line-height: 36px;
                min-width: 36px;
                display: block;
                overflow: hidden;
                color: #fff;
                white-space: nowrap;
                text-decoration: none;
                text-align: center;
                font-size: 18px;
                outline: 0;
              }

              &.facebook {
                a {
                  background-color: #2f609c;

                  &:hover {
                    background-color: #295488;
                  }
                }
              }

              &.twitter {
                a {
                  background-color: #55acee;

                  &:hover {
                    background-color: #3ea1ec;
                  }
                }
              }

              &.linkedin {
                a {
                  background-color: #0074a1;

                  &:hover {
                    background-color: #006288;
                  }
                }
              }

              &.email {
                background-color: #089e00;

                &:hover {
                  background-color: #078500;
                }
              }
            }
          }
        } /* .social-container */
      } /* .registration-form, .registration-success */

      .registration-success {
        display: none;
      }
    }

    .intro {
      p {
        text-align: right;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: 300;
        line-height: 1.6em;
        letter-spacing: 0px;
      }

      i {
        text-transform: none;
        letter-spacing: 0;
        display: block;
        font-style: normal !important;
        font-size: 20px;
      }
    }

    #typed-strings {
      display: none;
    }

    @media only screen and (min-width: 480px) and (max-width: 767px) {
      // iphone landscape
      .content-wrapper {
        top: 200px !important;
      }
    }

    @media only screen and (min-width: 0px) and (max-width: 479px) {
      // iphone portrait
      .content-wrapper {
        top: 220px !important;
        right: 0px !important;
      }
      .intro {
        p {
          font-size: 20px !important;
        }
      }

      .actions {
        .button-set {
          margin-left: 15px;

          .button-sign-up, .button-more {
            font-weight: 400 !important;
            height: 49px;
            line-height: 47px;
            font-size: 22px;
            padding: 0 30px;
          }

          .button-set-divider {
            // border-right: 1px solid rgba(200, 200, 200, 0.25);
            margin: 18px 8px 0 4px;
            height: 30px;
            display: inline-block;
            vertical-align: top;
          }
        } /* .button-set */
      } /* .actions */
    }
  } /* #main */

  #gallery {
    overflow: hidden;
    width: 100%;
    height: 500px;
    position: relative;
    background: image-url('diecisiete/home-gallery.jpg') repeat-x;
    background-position: center;
    background-size: cover;
    background-color: $color-white;

    .bottom-line {
      width: 100%;
      height: 1px;
      position: absolute;
      top: 67px;
      background: rgba(0,0,0,0.05);
    }

    .inner-shadow {
      width: 100%;
      height: 58px;
      position: absolute;
      z-index: 1000;
      bottom: 0;
      background: image-url('diecisiete/home-gallery-inner-shadow.png');
    }

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      .home-gallery .inner-shadow {
        background: image-url('diecisiete/home-gallery-inner-shadow@2x.png') repeat-x;
        background-size: auto 100%;
      }
    }

    .navigation {
      max-width: 960px;
      height: 68px;
      position: relative;
      z-index: 2;
      margin: auto;

      .item, .item-selected {
        display: table;
        width: 33.3%;
        height: 100%;
        float: left;
        font-size: 16px;
        color: #aaa;
        cursor: pointer;

        div {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          position: relative;
          top: 2px;
        }
      } /* .item */

      .item-selected {
        font-weight: 700;
        color: #444;
        cursor: auto !important;
      }

      .selector {
        width: 33.3%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color-cyan-light;
      }
    } /* .navigation */

    .dots-navigation {
      display: none;
      width: 84px;
      height: 44px;
      position: relative;
      z-index: 50;
      margin: auto;
      margin-top: 20px;

      .dot-off {
        width: 28px;
        height: 44px;
        float: left;
        cursor: pointer;
        background: url(images/dot-off.png);
      }

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        .home-gallery .dots-navigation .dot-off {
          background: url(images/dot-off@2x.png);
          background-size: 100%;
        }
      }

      .dot-on {
        width: 28px;
        height: 44px;
        float: left;
        background: url(images/dot-on.png);
      }

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        .home-gallery .dots-navigation .dot-on {
          background: url(images/dot-on@2x.png);
          background-size: 100%;
        }
      }
    } /* .dots-navigation */

    .slide {
      display: none;
      width: 100%;
      position: absolute;
      bottom: -4px;
      text-align: center;
      text-decoration: none;

      &.slide-selected {
        display: block;
      }

      h2 {
        width: 90%;
        margin: auto;
        text-align: center;
        font-weight: 300;
        font-size: 40px;
        color: #444;
      }

      p {
        margin-top: 1em;
        margin-bottom: 1em;
        // -webkit-margin-before: 1em;
        // -webkit-margin-after: 1em;
        // -webkit-margin-start: 0px;
        // -webkit-margin-end: 0px;
        display: block;
        width: 100%;
        top: 38px;
        font-size: 20px;
        color: #aaa;
        text-align: center;
        z-index: 10;
        font-weight: 300;
      }

      img {
        position: relative;
        width: 840px;
        margin: auto;
        height: auto;
      }

      @include media('>=phone', '<tablet', 'portrait') {
        h2 {
          font-size: 30px;
        }

        p {
          font-size: 17px;
        }
      }
    }

  } /* #gallery */

  #benefits {
    position: relative;
    width: 100%;
    background-size: cover;
    background: -webkit-linear-gradient(281deg, #54828c, #76b7c6);
    background: linear-gradient(169deg, #54828c, #76b7c6);
    background-color: #54828c;
    padding-bottom: 65px;
    overflow: hidden;

    #parallax {
      position: absolute;
      top: 0;
      left: 0;
      width: 120%;
      height: 120%;
      margin: -25px -50px -50px -25px;
      background-position: center;  /* Internet Explorer 7/8 */
      background-attachment: scroll; /* iOS resizing fix */
    }

    #particles {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    h2 {
      color: $color-white;
      font-size: 25px;
      line-height: 1.2em;
      font-weight: 300;
      letter-spacing: 0px;
      margin-top: 65px;
      margin-bottom: 25px;
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 50px;
      text-transform: uppercase;
      text-shadow: 0px 1px 1px rgba(0,0,0,.5);
    }

    ul, ol {
      display: inline-block;
      padding: 0.5em;
      padding-left: 2em;
      margin: 0.5em;
    }

    p {
      color: $color-white;
      // max-width: 750px;
      // width: 90%;
      margin: auto;
      margin-top: 15px;
      padding-left: 55px;
      text-align: left;
      font-size: 24px;
      line-height: 1.5em;
      font-weight: 300;
      text-shadow: 0px 1px 1px rgba(0,0,0,.5);

      b {
        text-transform: uppercase;
        font-weight: 400;
      }
    }

    ul.custom-bullet,
    ol.custom-bullet {
      list-style: none;
    }

    ul.custom-bullet > li,
    ol.custom-bullet > li {
      clear: left;
    }
    ol.custom-bullet {
      counter-reset: liNum;
    }
    ol.custom-bullet > li {
      counter-increment: liNum 1;
    }

    ul.custom-bullet > li:before,
    ol.custom-bullet > li:before {
      content: "";
      height: 5em;
      width: 5em;
      display: block;
      float: left;
      margin-left: -2.5em;
      margin-top: 0.5em;
    }

    ol.custom-bullet > li:before {
      content: counter(liNum);
      text-align: center;
    }

    ul > li:before {
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: $color-mustard-light;
    }

    ul > li.one:before {
      -webkit-mask: image-url('diecisiete/bullet-organize-recordings.svg') no-repeat 50% 50%;
      mask: image-url('diecisiete/bullet-organize-recordings.svg') no-repeat 50% 50%;
    }

    ul > li.two:before {
      -webkit-mask: image-url('diecisiete/bullet-collaborate.svg') no-repeat 50% 50%;
      mask: image-url('diecisiete/bullet-collaborate.svg') no-repeat 50% 50%;
    }

    ul > li.three:before {
      -webkit-mask: image-url('diecisiete/bullet-share-conversations.svg') no-repeat 50% 50%;
      mask: image-url('diecisiete/bullet-share-conversations.svg') no-repeat 50% 50%;
    }

    ul > li.four:before {
      -webkit-mask: image-url('diecisiete/bullet-machine-learning.svg') no-repeat 50% 50%;
      mask: image-url('diecisiete/bullet-machine-learning.svg') no-repeat 50% 50%;
    }

  } /* #benefits */

  #contact {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 60px;
    background-color: #fafafa;

    .social {
      width: 132px;
      height: 44px;
      margin: auto;

      a.social {
        display: block;
        width: 44px;
        height: 44px;
        float: left;
        font-size: 30px;
        color: $color-cyan-dark;

        &:hover,
        &:active {
          color: $color-cyan-light;
        }
      }
    } /* .social */

    p {
      font-size: 18px;
      font-weight: 300;
      color: #888;
      text-align: center;
      margin-top: 10px;
      display: block;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }

    .form {
      display: none;
      text-align: center;
      max-width: 490px;
      margin: auto;
      margin-top: 0em;

      input[type="text"], textarea {
        width: 460px;
        padding: 15px;
        position: relative;
        border: 0;
        outline: none;
        background: rgba(0,0,0,0.05);
        border-radius: 4px;
        font-size: 20px;
        color: #666;
        font-weight: 300;
      }

      @media only screen and (min-width: 0px) and (max-width: 479px) {
        input[type="text"], textarea {
          max-width: 360px;
        }
      }

      textarea {
        height: 100px;
        xfont-size: 16px;
        resize: none;
      }

      label {
        display: block;
        text-align: left;
        font-size: 15px;
        color: #666;
        margin-bottom: 10px;
      }
    } /* .form */

    .button {
      font-weight: 400 !important;
      height: 66px;
      line-height: 60px;
      font-size: 28px;
      padding: 0 30px;

    }

    .button-contact-us,
    .button-contact-submit {
      display: block;
      overflow: hidden;
      width: 220px;
      margin: auto;
      margin-top: 25px;

      border-color: $color-mustard;
      border-width: 1px;
      background: transparent;
      color: $color-mustard;

      &:hover,
      &:active {
        color: $color-mustard-light;
      }
    }

  } /* #contact */
} /* pages */
