@import 'web/setup';

body.devise, body.confirmations, body.payment-methods {
  background-color: $color-white;

  .alert {
    ul {
      margin: 0 0 30px 0;
      padding-left: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:empty {
      display: none;
    }
  }

  .has-error {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline {
      color: #d64242;
      font-size: 14px;
    }
  }

  .form-group {
    position: relative;
    margin-bottom: 20px;
  }

  .input-group {
    .input-group-addon {
      background-color: #fff;
    }

    .fa {
      min-width: 18px;
      font-size: 16px;
    }
  } /* .input-group */

  .input-icon {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 12px;
    width: 18px;
    height: 18px;

    .fa {
      color: $color-cyan-dark;
      min-width: 20px;
      font-size: 18px;
      text-align: center !important;
    }

    &:after {
      content: '';
      position: absolute;
      right: -11px;
      top: -10px;
      bottom: -10px;
      width: 1px;
      opacity: .5;
      background-color: rgba(212,212,212,0);
      background-image: -webkit-linear-gradient(bottom,rgba(212,212,212,0) 0,#d4d4d4 30%,#d4d4d4 70%,rgba(212,212,212,0) 100%);
      background-image: linear-gradient(to top,rgba(212,212,212,0) 0,#d4d4d4 30%,#d4d4d4 70%,rgba(212,212,212,0) 100%);
    }

    &.input-icon-with-label {
    margin-top: 3px !important;
    }
  } /* .input-icon */

  sup.required {
    color: #d64242;
    font-size: 95%;
    top: -2px;
  }

  input:-webkit-autofill {
    box-shadow: inset 0 1px 2px rgba(203,203,210,0.4), inset 0 0 10px 1000px #fffedb;
  }

  input:-webkit-autofill:focus {
      box-shadow: inset 0 1px 2px rgba(203,203,210,0.2), 0 0 4px rgba(121,88,159,0.3), inset 0 0 10px 1000px #fffedb;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #3f3f44;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cbcbd2;
    border-radius: 4px;
    // -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    // box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    &:focus {
      border-color: $color-cyan-dark;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(84,130,140,0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(84,130,140,0.6);
    }
  } /* .form-control */

  .form-control-with-input-icon {
    height: 44px;
    padding-left: 50px;
  }

  .form-input-card-exp-month,
  .form-input-card-exp-year {
    @media only screen and (min-width: 0px) and (max-width: 768px) {
      padding-right: 0;
      padding-bottom: 15px;
    }
  }

  .form-input-card-cvc {
  }

  .subscription-plan-name,
  .subscription-plan-price,
  .subscription-plan-interval {
    font-weight: 600;
  }

  .gradient-primary {
    width: 100%;
    background-size: cover;
    background: -webkit-linear-gradient(281deg, #3f6169, #55dcfc);
    background: linear-gradient(169deg, #3f6169, #55dcfc);
    background-color: #3f6169;
    // background: -webkit-linear-gradient(169deg, #54828c, #76b7c6);
    // background: linear-gradient(169deg, #54828c, #76b7c6);
    // background-color: #54828c;
  }

  .page-wrap {
    min-height: 100%;
    margin-bottom: -170px;
  }

  .content-primary {
    padding: 60px 10px 0 10px;
    // background: -webkit-linear-gradient(281deg, #3f6169, #55dcfc);
    // background: linear-gradient(169deg, #3f6169, #55dcfc);
    // background-color: #3f6169;
    // width: 100%;

    .login-quote {
      margin: 10px 0 25px;

      blockquote {
        border: 0;
        margin: 0 auto;
        quotes: none;
        max-width: 460px;

        p {
          padding: 0 40px 10px;

          font-weight: bold;
          font-style: normal;
          position: relative;
          text-align: center;
          margin-bottom: 0;
          font-size: 18px;
          line-height: 28px;
        }

        i {
          font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-weight: 700;
          font-style: normal;
          font-size: 80px;
          position: absolute;
          z-index: 1;
          opacity: .2;
        }

        i.top {
          top: 0;
          left: -10px;
        }

        i.bottom {
          bottom: 0;
          right: -20px;
        }

        footer {
          font-weight: normal;
          font-style: normal;
          text-align: center;
          font-size: 12px;
          text-transform: uppercase;
          color: $color-white;
        }
      }

      .text-light {
        color: #fff;
      }
    } /* .login-quote */

    .tile {
      margin: 25px 0;
      margin: 0 auto;
      border: 0;
      max-width: 430px;

      input {
        font: inherit;
        font-size: 16px;
        height: 45px;
      }
    }

    .panel {
      box-shadow: 0 2px 5px rgba(0, 0, 0,.3);
      @include transition(box-shadow .2s ease);
      border-radius: 5px;

      &:hover, &:focus, &:active {
        box-shadow: 0 2px 15px rgba(0, 0, 0,.5);
      }

      .panel-heading {
        padding: 25px 15px 15px;
        h1 {
          font-size: 52px;
          line-height: 60px;
        }

        p {
          color: $color-cyan-light;
          padding: 0 15px;
          font-weight: 400;
          font-style: normal;
          font-size: 24px;
          text-align: center;
        }

        .logo {
          height: 20px;
          width: 108px;
          margin: 15px auto;

          a.signup-brand {
            background: image-url('voyzes-logo-dark.png') no-repeat;
            display: block;
            height: 20px;
            width: 108px;
            text-indent: -3000px;
            overflow: hidden;
            text-decoration: none;
            @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
              background: image-url('voyzes-logo-dark@2x.png') no-repeat !important;
              background-size: 108px 20px !important;
            }
          }
        }
      } /* .panel-heading */

      .panel-footer {
        border-top: 0;
        background-color: #fff;
        padding-bottom: 30px;
        margin: 0 15px;
      } /* .panel-footer */

      .panel-body {
        margin: 0 15px;

        .form-group {
          .form-horizontal {
            &.left {
              padding-left: 0;
              padding-right: 5px;
            }

            &.right {
              padding-right: 0;
              padding-left: 5px;
            }
          }
        }
      }
    }

    .form-signin-links, .form-more-links {
      padding: 10px 30px;
    }

    .btn-primary {
      color: #fff;
      font-size: 22px;
      background-color: $color-cyan-dark;
      background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0,rgba(63,97,105,0)),color-stop(1,rgba(118,183,198,0.6)));
      background-image: -o-linear-gradient(left bottom,rgba(63,97,105,0) 0,rgba(118,183,198,0.6) 100%);
      background-image: -moz-linear-gradient(left bottom,rgba(63,97,105,0) 0,rgba(118,183,198,0.6) 100%);
      background-image: -webkit-linear-gradient(left bottom,rgba(63,97,105,0) 0,rgba(118,183,198,0.6) 100%);
      background-image: -ms-linear-gradient(left bottom,rgba(63,97,105,0) 0,rgba(118,183,198,0.6) 100%);
      background-image: linear,to left bottom,rgba(63,97,105,0) 0,rgba(118,183,198,0.6) 100%;

      &:hover,
      &:active {
        border-color: $color-cyan-dark;
        background-color: $color-cyan-dark;
        background-image: none;
      }
    }

    .btn-plain {
      color: #fff;
      border: 2px solid #fff;
      background: transparent;
      text-shadow: none;
    }

    .btn-simple {
      color: #999;
      border: 2px solid #c5c5c5;
    }

    .btn-transparent {
      opacity: .8;
      @include transition(opacity .2s ease);
    }

    .btn-transparent:active,
    .btn-transparent:hover {
      opacity: 1;
    }

    .btn-block {
      width: 100%;
      border-radius: 999em;
      outline: none;

      &:focus {
        box-shadow: 0 0 3pt 2pt rgba(128,128,128,.4);
      }
    }

    .text-translucent {
      opacity: .5;
    }

    .text-light {
      color: #fff;

      a {
        color: #fff;
      }
    }

    .text-small {
      font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
      line-height: 20px;
      margin: 0 0 15px 0;
    }

  } /* content-primary */

  footer.nav-footer {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 430px;
    height: 170px;
    padding: 25px 0;
    // hairline above
    background: -webkit-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;

    a {
      display: block;
      overflow: hidden;
      color: rgba(255,255,255,0.4);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .05em;
      font-size: 12px;

      span.footer-logo {
        display: inline-block;
        width: 70px;
        height: 35px;
        text-align: center;
        margin: 0 3px -7px;
        background: image-url('voyzes-logo-110x70.png') no-repeat;
        overflow: hidden;

        @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
          background-size: 70px auto;
          background-image: image-url('voyzes-logo-110x70@2x.png');
        }

        &:before {
          content: "";
          display: block;
          width: 0;
          height: 100%;
        }
      } /* .footer-logo */
    }

    ul.links {
      list-style: none;
      padding: 0;
      margin-top: 40px;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 5px;
      }

      li, a {
        font-size: 14px;
        font-weight: bold;
        color: rgba(255,255,255,0.6);
        letter-spacing: 0;
        text-decoration: none;
        text-transform: none;
      }

      a {
        display: inline;
      }

      a:hover {
        color: rgba(255,255,255,0.8);
      }
    }


  } /* footer */

}

body.sessions {
  .signin-content {
    margin-bottom: 250px;
  }

  .content-primary {
    padding-top: 30px;
  }
}

body.passwords {
  .password-content {
    margin-bottom: 250px;
  }
}

body.confirmations {
  .confirmation-content {
    margin-bottom: 250px;
  }
}

body.registrations.new {
  .container-fluid {
    padding: 0 20px;
  }

  #particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .signup-content {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 225px;
  }

  .header-main {
    padding: 90px 0 35px;
    position: relative;
    color: white;

    a.header-logo {
      width: 150px;
      height: 70px;
      display: block;
      position: absolute;
      left: 45px;
      top: 20px;
      background: no-repeat 0 0;
      background-image: asset-url('voyzes-logo-110x70.png');
      background-size: 110px 70px;

      @media only screen and (min-width: 0px) and (max-width: 767px) {
        top: 10px;
      }
    }


    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      a.header-logo {
        background-image: asset-url('voyzes-logo-110x70@2x.png');
      }
    }

    h2 {
      max-width: 450px;
      margin: 0 auto;
      text-align: center;
      color: white;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.4em;
      text-transform: uppercase;
    }

    .header-login {
      position: absolute;
      right: 45px;
      top: 20px;
      margin: 10px 0;

      @media only screen and (min-width: 0px) and (max-width: 767px) {
        top: 15px;
      }

      span {
        font-size: 16px;
        font-weight: 400;

        @media only screen and (min-width: 0px) and (max-width: 767px) {
          display: none;
        }
      }

      .button-sign-in, a.button-sign-in {
        top: -2px;
        font-size: 16px;
        font-weight: 600;
        vertical-align: middle;
        border-color: rgba(255,255,255,0.4);
        color: rgba(255,255,255,0.8);
      }
    } /* .header-login */
  } /* .header-main */

  .signup-panel {
    padding: 45px;
    margin-bottom: 25px;
    background: white;
    display: block;
    z-index: 10;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .page-body {
      width: calc(100% - 360px);
      padding-right: 30px;
      float: left;

      @media only screen and (min-width: 0px) and (max-width: 767px) {
        width: 100%;
      }
    } /* .page-body */

    .benefits {
      h3 {
        font-size: 24px;
        color: $color-cyan-dark;
        line-height: 1.4em;
        font-weight: 400;
      }

      p:not(.full-width) {
        max-width: 600px;
      }

      p {
        margin: 0;
        margin-bottom: 30px;
        font-size: 14px;
      }
    } /* .benefits */

    .page-sidebar {
      float: left;
      width: 360px;

      @media only screen and (min-width: 0px) and (max-width: 767px) {
        width: 100%;
      }

      .signup :last-child {
          margin-bottom: 0;
      }

      sup.required {
        color: #d64242;
        font-size: 95%;
        top: -2px;
      }

      input, select {
        font: inherit;
        font-size: 14px;
        height: 42px;
      }

      .btn-primary {
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;

        @media only screen and (min-width: 0px) and (max-width: 468px) {
          font-size: 16px;
        }
      }

      .alert {
        margin: 10px auto;
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        background: #f9f9fb;
        padding: 10px 15px;
      }

      .alert.alert-error {
        color: white;
        background: #d64242;
        border-color: #d12d2d;
      }

      .form-signup {
        padding: 30px;
        background: #f9f9fb;
        border: 1px solid #e4e4e7;
        border-radius: 5px;
      }

      .form-horizontal {
        padding-left: 0;
      }

      .form-horizontal.right {
        padding-right: 0;
      }

    } /* .page-sidebar */

  } /* .signup-content */

  // http://stackoverflow.com/questions/27713505/recaptcha-api-v2-styling
  .recaptcha-wrap {
    position: relative;
    height: 76px;
    padding: 1px 0 0 1px;
  }

  .recaptcha-wrap:after {
    content:'';
    display: block;
    height: 2px;
    width: 100%;
    top: -1px;
    left: 0px;
    position: absolute;
  }

  // Hides left border
  .recaptcha-wrap:before {
    content:'';
    display: block;
    height: 100%;
    width: 0px;
    top: 0;
    position: absolute;
    z-index: 1;
  }

  .g-recaptcha {
    position: relative;
    width: 100%;
    background: #f9f9f9;
    overflow: hidden;
  }

  .g-recaptcha > * {
    float: left;
    right: 0;
    margin: -1px -3px -8px; /* remove borders */
  }

  .rc-anchor {
    border: 0 !important;
    box-shadow: none !important;
  }
} /* body.registrations.new */
